<app-header-client></app-header-client>
<div class="content">
  <h1>Oil Prices Decline</h1>
  <p class="desc">
    With fears of a recession growing, the prices of oil-related products has
    continued its multi-week decline. For homeowners who heat their homes with
    heating oil, if this trend continues, it will definitely help to mitigate
    the pain of the sharply higher #2 heating oil prices this winter.
  </p>
  <h1>Leave a Reply</h1>
  <p>Required fields are marked <span class="required"></span></p>
  <label class="comment" for="comment">Comment <span class="required"></span></label>
  <textarea name="comment" cols="45" rows="8" maxlength="65525" required=""></textarea>
  <button class="submit" type="submit">Post Comment</button>
</div>
<app-section-footer></app-section-footer>