<app-header-client></app-header-client>
<app-breadcrumbs></app-breadcrumbs>
<div class="mainContainer">
    <div class="headingBg">
        <div class="heading">
            <div class="title">
                <h4>Homeowner's guide to:</h4>
                <h1>Oil Central Heating</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="contentInner">
            <div class="title">
                <h2>Oil Tank Gauge</h2>
            </div>
            <!-- #1 details -->
            <div class="details">
                <h2>How Do I Read An Oil Tank Chart?</h2>
                <hr>
                <p>
                    Your <a routerLink="blog/heating-system-repair/oil-tank-leak-repair/">fuel oil tank</a> probably
                    came with
                    a float-style oil tank gauge. This gauge
                    has a float
                    attached to a hinge that indicates the level of oil in the tank. There is a disk at the end of
                    the float that lowers with it. Refer to the diagram below for a visualization of how this
                    happens.
                </p>
                <img src="assets/blog/oil-central-heating/oil-tank-gauge/How-an-oil-tank-works-1024x547-1.webp"
                    alt="How-an-oil-tank-works-1024x547-1.webp">
                <p><em>
                        A typical heating oil tank features a float gauge with a hinged arm. As the float lowers,
                        the visible disk on the top of the heating oil tank moves down accordingly.
                    </em></p>
                <p>To read the level of a float gauge, look for the tick marks on the plastic vial. These typically
                    indicate Full, 3/4, 1/2, and 1/4. Because the home heating oil tank is rounded at the bottom,
                    these gauges are not very accurate when the tank is low. As a good rule of thumb, always <a
                        href="https://heatfleet.com">order
                        heating oil online</a> at around 1/4 full. This gives you a few days for the oil to arrive
                    before
                    running out.</p>
                <p>To read the oil tank gauge, refer to the tick marks on the side. On most models, these are 1/4,
                    1/2, 3/4, and Full. The shape of heating oil tanks means that the oil tank chart is less
                    accurate at lower ranges. As a result, most experts recommend to order more oil at 1/4 full.
                    This gives you leeway and avoids you ever running out of oil. </p>
                <p>To approximate how much heating oil you have left in your tank, multiply the oil tank gauge
                    reading by the size of your tank. For example, if your gauge is around 3/4 and your tank is 275
                    gallons, you have approximately 3/4 * 275 = 207 gallons.</p>
            </div>
            <!-- #2 details -->
            <div class="details">
                <h2>How Accurate is My Oil Tank Chart?</h2>
                <hr>
                <p>Usually, your oil tank gauge is not very precise and should only be used as a guiding
                    approximation of the oil left in your tank. Its design is also prone to wear and tear, which
                    means it can break down. If your gauge hasn’t moved in a while, it could be stuck. Unscrew the
                    plastic vial and press the disk down – if it doesn’t move down easily and then float back up,
                    there could be an issue with it.</p>
                <p>A heating oil tank gauge can get stuck by rotating inside the fuel oil tank. In this case, the
                    float becomes wedged against the side of the tank and cannot move.</p>
                The float on the oil tank gauge could also become less buoyant, by developing sludge that weighs it
                down and doesn’t let it float on top of the oil. This is another reason why <a
                    routerLink="/blog/heating-system-repair/oil-tank-replacement/">cleaning your
                    oil tank</a> is a good idea.
            </div>
        </div>
    </div>
</div>
<app-section-footer></app-section-footer>