<div class="outer-container why2-content">
    <div class="card-content">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-5 col-xl-4 content-cus-col">
                <div class="container">
                    <div class="row">
                      <div class="col p-0">
                        <h3 class="why-title" alt="Heat Fleet Industry Leader">Heat Fleet Champions Homeowners</h3>
                        <p class="why-desc">
                          As an active member of national and regional trade associations, we promote oil price reduction by introducing online commerce to the industry.
                        </p>
                      </div>
                    </div>
                </div>
            </div>  
            
            <div class="col-12 img-cus-col col-md-7 col-lg-7 col-xl-8 p-0">
                <div class="logo-contain">
                    <div class="contain-align-left">
                      <img class="img-logo-company ema" src="assets/icons/kx-EMA-Heating-OIl-Logo.svg" title="EMA Heating Oil Logo" alt="Energy Marketers Of America Logo" loading="lazy">
                      <!-- <img class="img-logo-company ema" src="assets/images/about-us/image_1.svg"> -->
                      <img class="img-logo-company oesp" src="assets/icons/nn-OESP-Heating-Oil-Logo.svg" title="OESP Heating Oil Logo" alt="Oil Energy Service Professionals Association Logo" loading="lazy">
                    </div>
                    <div class="contain-align-right">
                      <img class="img-logo-company ema only" src="assets/icons/kx-EMA-Heating-OIl-Logo.svg" title="EMA Heating Oil Logo" alt="Energy Marketers Of America Logo">
                      <img class="img-logo-company oesp only" src="assets/icons/nn-OESP-Heating-Oil-Logo.svg" title="OESP Heating Oil Logo" alt="Oil Energy Service Professionals Association Logo" loading="lazy">
                      <img class="img-logo-company" src="assets/icons/gc-ESEA-Heating-Oil-Logo.svg" title="ESEA Heating Oil Logo" alt="Empire State Energy Association Logo" loading="lazy">
                      <img class="img-logo-company" src="assets/icons/ih-CEMA-Heating-Oil-Logo.svg" title="CEMA Heating Oil Logo" alt="Connecticut Energy Marketers Association Logo" loading="lazy">
                      <!-- <img class="img-logo-company" src="assets/images/about-us/image_3.svg"> -->
                      <!-- <img class="img-logo-company" src="assets/images/about-us/image_4.svg"> -->
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>