<div class="payment-proccess-container">
  <div class="about_intro__wrapper">
      <div class="container-x">
          <div class="row justify-content-center">
              <div class="">
                  <div class="about__intro">
                      <h3 class="txt-title-content">Heat Fleet: The Largest Heating Oil Marketplace In The World.</h3>
                      <h3 class="txt-title">Home Energy Prices Are Surging</h3>
                      <p>Every homeowner in the Northeast is bracing for astronomical heating bills this winter. Home heating fuel prices – natural gas, propane, and heating oil – have skyrocketed with jaw-dropping speed. For example, in New Jersey, the average heating oil price has vaulted from a palatable $2.26 per gallon to an eye-watering $4.23 per gallon!</p>
                      <h3 class="txt-title">Heating Oil Homeowners Have A Choice Of Providers...</h3>
                      <p class="tw">A huge advantage you have by heating your home with oil is that you’re not locked into a utility monopoly. The average homeowner has more than 10 oil dealers serving his or her neighborhood, and Long Island residents have 72 (!) Providers to choose from!</p>
                      <p class="tw">Choice has many privileges:</p>
                      <p class="txtnumber"><span class="txt-numbr">(1)</span>Price-shopping: You can shop for the best price.</p>
                      <p class="txtnumber"><span class="txt-numbr">(2)</span>Reliability: If one provider is unable to deliver, you can call another.</p>
                      <p class="txtnumber"><span class="txt-numbr">(3)</span>Customer Service: Heating oil companies are owned and operated by your neighbors in your community. When you call, they answer the phone. You’re not getting some public utility monopoly’s robotic touch-tone voicemail maze. When you have a problem, they will go above and beyond the call of duty to help you out.</p>
                      <h3 class="txt-title">... But Price Shopping Is Time Consuming</h3>
                      <p>Price-shopping for heating oil has historically been a time-consuming hassle: calling every provider, every time you place an order.</p>
                      <h3 class="txt-title">Heat Fleet Provides Instant Price Shopping <span class="txtunderlined">AND</span> Secure Online Ordering</h3>
                      <p class="tw">With the tap of your finger, Heat Fleet serves up a complete price list of all the local heating oil dealers in your neighborhood, along with and an easy, secure online ordering system to schedule deliveries. <span>A heating oil delivery marketplace providing savvy homeowners
                              with the best priced deals from reliable oil companies near
                              you.</span></p>
                      <p class="tw">Since its invention the 1920s, a trademark of the home heating
                          oil industry has been small family businesses, handed down from
                          generation to generation, offering personalized service. As with
                          all industries, small family businesses tend to be slow to adopt
                          new technologies. The majority of discount heating oil companies
                          still rely on providing quotes and taking orders by phone.</p>
                      <p class="tw">For budget-conscious homeowners who use heating oil, price
                          shopping has historically been a time-consuming process. Enter
                          Heat Fleet: In less time than it takes to dial the phone number
                          of a single heating oil company, Heat Fleet serves you the best
                          prices from all the heating oil companies near you.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="about_intro__wrapper">
      <div class="container-x">
          <div class="row">
              <h3 class="txt-title xd"> How It Works</h3>
              <div class="col-lg-10">
                  <div class="about__intro points">
                      <ul>
                          <li>The Heat Fleet team spends thousands of hours a year
                              exhaustively researching each county&rsquo;s heating oil providers,
                              hand-picking companies with the best prices and reliability.</li>
                          <li>We invite these companies to join The Heat Fleet and post
                              deals to the marketplace.</li>
                          <li>You enter your order details, and we display the best heating
                              oil delivery deals from providers serving your neighborhood.</li>
                          <li>After browsing, you select a deal and place the order with our
                              secure payment processing system.</li>
                          <li class="point">We instantly transmit the order to your selected provider&rsquo;s
                              dispatcher, who schedules your order on or before your desired
                              delivery window date.</li>
                          <li class="point">Your order is filled, and we send delivery confirmation to
                              your inbox.</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="about_intro__wrapper middle">
      <div class="container-x">
          <div class="row">
              <div class="col-lg-10">
                  <div class="about__intro">
                      <h3 class="txt-title unlock-value-txt">Unlocking Home Energy Value For You </h3>
                  </div>
                  <div class="section_benefits">
                      <div class="container-mix">
                          <p class="c-p">(1)</p>
                          <p class="pt_nmbr title"><span>The Heat Fleet enables oil companies to reduce prices.</span></p>
                          <p class="btm-desc">A heating oil company sets its prices using a simple
                              calculation: the sum of the costs of the oil, trucks, drivers,
                              office staff, advertising, plus a fair profit. When a company
                              joins The Heat Fleet, the company can slash marketing and
                              advertising costs, and in turn, drastically reduce prices.</p>
                      </div>
                      <div class="container-mix">
                          <p class="c-p">(2)</p>
                          <p class="pt_nmbr title"><span>The Heat Fleet enables oil companies to maximize deliveries
                                  per truck, reducing prices even more.</span></p>
                          <p class="btm-desc">If a provider has a handful of route vacancies tomorrow, the
                              provider can activate a Heat Fleet Flash Sale for tomorrow to
                              fill the vacancies. These deals are a win-win for you and the
                              provider: you lock in an unbeatable price; the provider
                              maximizes capacity utilization, leading to even further price
                              reductions.</p>
                      </div>
                      <div class="container-mix">
                          <p class="c-p">(3)</p>
                          <p class="pt_nmbr title"><span>The Heat Fleet enables homeowners to price-shop on every
                                  order.</span></p>
                          <p class="btm-desc">The majority of oil companies purchase oil with 22,000-gallon
                              fixed-price contracts, and then sell that oil over the
                              proceeding few days. Because oil prices change so quickly,
                              it&rsquo;s unlikely that the company with the best price today will
                              also have the best price in a month when you place your next
                              order. Heat Fleet&rsquo;s deal-board makes it easy for you to price
                              shop for the best price on every order.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>