<app-header-client></app-header-client>
<app-breadcrumbs></app-breadcrumbs>

<!-- heading -->
<div class="heading-container">
  <div class="title">
    <h4>Homeowner's guide to:</h4>
    <h1>Heating Oil Deliveries</h1>
  </div>
</div>

<!-- content -->
<div class="content">
  <h2>Heating Oil Price History</h2>
  <img src="../../../../../assets/blog/heating-oil-deliveries/one_year_heating_oil_historical_price_chart.jpeg"
    alt="One year" />
  <img src="../../../../../assets/blog/heating-oil-deliveries/ten_year_heating_oil_historical_price_chart.jpeg"
    alt="Ten Year" />
</div>
<app-section-footer></app-section-footer>