<div class="img-container">
  <div class="row">
    <div class="col-12">
      <div class="img-bg">
        <img
          srcset="{{ srcSetConfig }}"
          sizes="(max-width: 1279px) 100vw, (min-width: 1280) 1280px"
          title="{{ titleTag }}"
          alt="{{ altTag }}"
          loading="lazy"
          height="100%"
          width="100%"
        />
        <h2 class="text-1">
          &ldquo;Heat Fleet is Uber for <br />heating oil delivery.&rdquo;
          <br />
          <span class="text-2">Northeast HOME/LIFE Magazine</span>
        </h2>
      </div>
    </div>
  </div>
</div>
