<app-header-client></app-header-client>
<app-breadcrumbs></app-breadcrumbs>
<div class="containerMain">
    <img src="assets/blog/oil-central-heating/granby-vs-roth/zipentry_radiator.png" alt="Heating oil company types"
        loading="lazy" />
    <h1>Granby vs Roth</h1>
</div>
<div class="content">
    <div class="contentInner">
        <div class="details">
            <h2>Granby Steel Tanks</h2>
            <hr />
            <p>Granby steel tanks are the most common <a routerLink="/blog/oil-central-heating/oil-tank-chart">home oil
                    tank</a>, usually in a 275 or 330 gallon
                size. There are
                four openings along the top, which gives you an extra opening to fit an auxiliary attachment such as
                a Smart Oil Gauge. </p>
            <img src="assets/blog/oil-central-heating/granby-vs-roth/275v-oil-tank-1024x768.jpg"
                alt="275v-oil-tank-1024x768.jpg">
            <p><em>275 gallon vertical Granby steel oil tank is by far the most common home heating oil tank. It
                    features four legs on the bottom, four openings along the top, and one opening on the bottom.
                    The four openings on the top accommodate the fill line, vent line, float gauge, and a Smart Oil
                    Gauge. The second most common Granby fuel oil tank size is the 330 gallon variant. Whereas the
                    275 measures 5′ long, the 330 measures 6′ long.</em></p>
            <p>
                Granby tanks start around 138 gallons and can go up to 330 gallons, with both vertical and
                horizontal orientations to fit in crevices within your home. If you are looking to replace your
                home’s tank and you currently have a Granby tank, buying another Granby would be optimal as the
                spaces for the tank’s fill and vent pipe would match up with your new tank.
            </p>

            <p>
                Due to the design of Granby tanks, installing an additional tank on top of an existing one is
                relatively easy. After a technician connects the two fuel oil tanks, you will have the combined
                capacity of both tanks and be able to order heating oil in bulk at low rates through <a
                    href="https://heatfleet.com">Heat
                    Fleet.</a>
            </p>

        </div>
        <div class="details">
            <h2>Roth Double-Wall Oil Tanks</h2>
            <hr>
            <p>
                The main alternative to a Granby tank is a Roth Double-Wall tank. Roth tanks are bunded, meaning an
                internal plastic tank is surrounded by a metal tank. Plastic tanks do not corrode, which is the
                benefit of the nested model. Even if the plastic tank is somehow damaged, the metal tank will stop
                the <a routerLink="/blog/heating-system-repair/oil-tank-leak-repair/" target="_blank">oil from spilling</a> onto the
                floor of
                your home.
            </p>
            <p>Although Roth tanks are smaller and generally easier to move than Granby tanks, most installers are
                more familiar with Granby tanks and might struggle with installing Roth.</p>
            <p><img class="alignnone size-medium wp-image-1700"
                    src="assets/blog/oil-central-heating/granby-vs-roth/tank_single2_web__11518.1570457946-300x300.jpg"
                    alt="unlike a granby oil tank, roth oil tanks are bunded" width="300" height="300"></p>
            <p>Roth fuel oil tanks also feature four openings on the top, but unlike Granby tanks, this does not
                leave an opening for an additional gauge. You have to choose between a <a
                    routerLink="/blog/oil-central-heating/oil-tank-chart">float gauge</a>
                or
                a smarter
                option.
            </p>

        </div>
        <div class="details">
            <h2>Discount Heating Oil Companies</h2>
            <hr>
            <div class="flex-center-w50">
                <div>
                    <h3>How to Choose Between Granby Steel Tanks and Roth Double-Wall Tanks</h3>
                    <p>Check the chart to your right to see key differences between Roth and Granby tanks. Roth
                        double-wall tanks are more expensive, but offer a better warranty. Granby is a better choice
                        if
                        you want a guarantee any installer will be able to set it up and maintain it if needed. It
                        is
                        also a better choice if you want to buy oil in bulk as you can combine multiple tanks.</p>
                    <img src="assets/blog/oil-central-heating/granby-vs-roth/Roth-v-Granby-table.png"
                        alt="Roth-v-Granby-table.png">
                    <p><em>Please recreate this graphic and place it in the right panel</em></p>
                    <p>
                        In summary, choosing between a Roth double-wall tank and a Granby depends a lot on your
                        personal
                        preferences. The path of least resistance tends to be replacing your existing tank with the
                        same
                        style tank. This will likely reduce labor costs and make the job easier for the HVAC
                        technicians. For a smaller footprint or better warranty, consider investing in a Roth
                        double-wall tank. In either case, make sure to discuss tank gauge options. The Granby will
                        allow
                        you to have a float-style heating oil tank gauge, as well as a Smart Oil Gauge. Ensuring you
                        are
                        able to keep an eye on your tank remotely is a must for 2020.
                    </p>
                    <p>
                        The choice between Roth and Granby oil tanks boils down mostly to personal preference.
                        Usually
                        when replacing a tank, it’s best to rebuy the same brand as you used to have to make
                        installation easier. If you want a lighter tank with a better warranty, Roth is likely your
                        ideal tank. If you like having a standardized tank that can be upgraded easily, it might be
                        worth investing in a Granby tank.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>