<div>
    <app-section-main [qtyLoaded]="qtyLoaded" [breadcrumbs]="breadcrumbs" [ctaText]="ctaText"
        [infoCheckBox]="infoCheckBox" [bsAltLine]="bsAltLine" [loaded]="showComponent" [type]="true" [mainPage]="true"></app-section-main>
    <app-section-compareprices class="compare" [comparePricesText]="comparePricesText"></app-section-compareprices>
    <app-section-bestprices [data_]="pricesData" [lastUpdate]="null"
        [LandingPage]="LandingPage"></app-section-bestprices>
    <app-section-why></app-section-why>
    <app-section-why2></app-section-why2>
    <app-subscription></app-subscription>
    <app-fuel-comparison *ngIf="showComponent" [townData]="pageDetails" [isState]="false" [isLandingPage]="true"></app-fuel-comparison>
    <app-section-faqs [faqsContentTown]="faqsContentTown"
        *ngIf="faqsContentTown && faqsContentTown.length > 0"></app-section-faqs>
    <app-heating-oil-locations [topTowns]="topTowns" [topCounties]="topCounties"></app-heating-oil-locations>
</div>