<div class="comapny-logos">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <h1 class="homeowner-text">
                We empower homeowners to order oil with confidence that they're
                getting the <span class="bestprice">best price.</span>
            </h1>              
        </div>
                 
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div>
                <ul class="list-style">
                  <li class="item-style">
                    <h2 class="li">The average home is served by 16 heating oil companies. (Long Islanders have 72 oil companies to choose from.)</h2>
                  </li>
                  <li class="item-style">
                    <h2 class="li">It's important to price shop before every order. Provider inventory costs vary daily. The cheapest provider today won't be cheapest tomorrow.</h2>
                  </li>
                  <li class="item-style">
                    <h2 class="li">Heating oil prices are updated 3x/day.</h2>
                  </li>
                  <li class="item-style">
                    <h2 class="li">Heat Fleet provides a complete landscape of provider pricing and price history.</h2>
                  </li>
                </ul>
            </div>   
        </div>          
    </div>
</div>