<app-header-client></app-header-client>

<div class="__wrapper">
    <div class="term-container">
      <div class="white-space">
        <div class="term-heading">
          <h1 class="heading-text">DAVOS ENERGY LLC PRIVACY POLICY</h1>
        </div>
        <div class="term-content">
          <h2 class="date">Effective Date: September 27, 2021</h2>
          <div class="div-text-1">
            <p class="para-text-1">
              Davos Energy LLC (the &ldquo;Company&rdquo;, &ldquo;We,&rdquo; &ldquo;Our,&rdquo; or &ldquo;Us&rdquo;) is committed
              to protecting user (&ldquo;You,&rdquo; &ldquo;Your&rdquo;) privacy through compliance with
              this Privacy Policy. This Privacy Policy explains operations and
              procedures that We have established regarding the use, collection,
              and disclosure of Your information on our website and mobile
              applications (the &ldquo;Site&rdquo; or the &ldquo;Services&rdquo;). By using the Services
              in any manner, You acknowledge that You accept the practices
              outlined in this document, and consent to our collection, use, and
              disclosure of Your information accordingly.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-bold">
              Your information, whether public or private, will not be sold,
              exchanged, transferred, or given to any other company for any reason
              whatsoever, other than as provided herein.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              Collecting, using, and storing Personal Information makes it
              possible for Us to provide You with the Services. When You use our
              Services to order a product or services from a third party provider,
              We disclose relevant pieces of your Personal Information to those
              relevant providers (for example, when You place a heating oil order,
              we disclose Your name, address, and telephone number to the provider
              delivering the oil).
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">Personal Information We Collect:</p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              Automatically Collected IP and Location Information: Our servers
              automatically collect information, including IP addresses,
              information from cookies, and ZIP codes entered for the purposes of
              pricing queries. This data is used (i) to facilitate your
              interaction with the Services (e.g. remembering the ZIP code You
              enter so that You do not need to enter the ZIP code each time You
              use the Services), (ii) to prevent unauthorized use of the Services
              (e.g., to flag if a party is attempting to use the Services for an
              unauthorized purpose, such as collecting provider information or
              prices for purposes other than authentic interest in purchasing
              products or services), and (iii) to tabulate statistical analysis of
              Services usage.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              Account Information: When You create an account, We require that You
              provide Personal Information such as Your name, address, and e-mail
              address, and also that You create a password in order to facilitate
              transaction and fulfillment of orders that You place. You agree that
              this Personal Information may be used by Us and distributed to
              relevant providers by Us for the above stated purposes. Your
              Personal Information is secured by password that You create and that
              We do not have access to. It is your responsibility to choose a
              secure password that is unique to our Services, to log out of your
              account if you use a computer or device that others have access to,
              not to disclose your password to anyone, and to update your password
              periodically.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              Financial Information: We do not collect Your payment information
              (e.g. credit card number, billing address, etc.). When You enter
              this information into the Services, the information is collected,
              used, and stored by a 3rd party payment processing company. Use,
              storage, and dissemination of this information is governed by that
              third party payment processor&rsquo;s terms of service and privacy policy.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              We will use your Personal Information to contact You regarding
              orders You place. We may use Your Personal Information to contact
              You for marketing purposes,
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              Cookies are information We store on Your web browser when you access
              a website. Cookies facilitate the use of the Services and enable us
              to analyze Your usage of the Services. Many browsers provide the
              option of clearing cookie information or disabling cookies
              altogether. If You take these actions, some features of the Services
              may not be available. This document does not cover cookie use by
              third parties.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              Pages of Our Website and Our emails may contain small electronic
              files known as pixel tags, that permit Us to record statistics
              relating to who has visited web pages and/or opened emails. This
              document does not cover pixel tag use by third parties.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              You may use any unsubscribe/opt-out features to request that we
              redact your personal information from our records. We will comply
              within a reasonable time and, in any case, within the time limits
              established by applicable law. We may ask you for additional
              information to verify your identity. In some cases, however, we may
              limit or deny your request if the law permits or requires us to do
              so or if we are unable to verify your identity. If you need further
              assistance with unsubscribing or opting-out of the services,
              or with redaction of your personal information, please email<a class="link" href="mailto:privacy@davosenergy.com">privacy@davosenergy.com</a>for assistance. At our discretion, we may determine that your lack
              of engagement in the products and/or services we provide indicates
              your desire to opt-out of the products and/or services we provide.
              For example, you may be removed from our email list if you have not
              opened an email from us for a certain period of time. Again, you may
              opt in at any time. In certain cases (for example, filing of sales
              tax returns), We may contract third parties to perform certain tasks
              on our behalf (our &ldquo;Agents&rdquo;). You hereby consent that we are
              authorized to share Your Personal Information to our Agents, only as
              necessary for the Agents to complete the required tasks. Our Agents
              do not have the right to use, store, or disseminate your Personal
              Information outside of performing the assigned tasks.
            </p>
          </div>
          <div class="div-text-spacing">
            <p class="para-text-2">
              In the event of a merger, divestiture, restructuring,
              reorganization, dissolution, or other sale or transfer of some or
              all of Our assets, whether as a going concern or as part of
              bankruptcy, liquidation, or similar proceeding, user Personal
              Information may be one of the assets transferred.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              We may be required to disclose Your Personal Information to satisfy
              an applicable law, regulation, or legal process.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              In certain cases, We may provide your Personal Information to a
              third party in order to prevent or investigate security issues or
              fraud.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              We store and protect Your information using industry-standard
              practices and procedures, and update these practices and procedures
              as they evolve. Unfortunately, the transmission of information via
              the internet is not completely secure. Although we do our best to
              protect your personal information, we cannot guarantee the security
              of your personal information transmitted to Us. Any transmission of
              personal information is at Your own risk. We are not responsible for
              circumvention of any privacy settings or security measures contained
              on our Services.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-normal-1">
              We are committed to protecting the privacy of children. You should
              be aware that our Site is not intended or designed to attract
              children under the age of 13. We do not collect personally
              identifiable information from any person we actually know is a child
              under the age of 13. California's residents may not provide
              information to or on the Site.<br/>This Privacy Policy does not apply to use, collection, and
              disclosure of your Personal Information by third parties, including
              but not limited to service providers whose products and services you
              purchase via our Services.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-normal-1">Our Services do not support the web browser &ldquo;Do Not Track&rdquo; feature.</p>
          </div>
          <div class="div-text-2">
            <p class="para-normal-1">If You wish to delete Your account, please send this request to<a class="link" href="mailto:privacy@davosenergy.com">privacy@davosenergy.com</a>and We will delete any Personal Information that is not required by
              law to be saved; however, because We keep track of past purchases,
              We cannot delete information associated with past purchases.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              We will amend this Privacy Policy from time to time, and post the
              amended version to heatfleet.com/privacy. By using the Services
              in any manner, after We amend the policy, You acknowledge that You
              accept the amended policy.
            </p>
          </div>
          <div class="div-text-2">
            <p class="para-text-2">
              If You have any questions relating to this document, please send an
              e-mail to:<a class="link" href="mailto:privacy@davosenergy.com">privacy@davosenergy.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="footersection">
    <app-section-footer></app-section-footer>
</div>
