.container h1 {
  padding: 10% 0% 10% 0%;
  color: #6ec1e4;
  font-weight: 600;
  text-align: center;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .container h1 {
    font-size: small;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) {
  .container h1 {
    font-size: medium;
  }
}
