@import "../../variables";
@import "../../mixins";

@include global-css;

.heading-container {
  width: 100%;
  background-color: #43c3f6;

  .title {
    width: $width-lg;
    margin: 0 auto;
    padding: 10px 0px;
    @extend heading-title;
  }
}

.content {
  width: $width-lg;
  margin: 2rem auto;

  .prices {
    img {
      width: 400px;
      float: right;
      margin-left: 1rem;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .content,
  .title {
    width: $width-sm;
  }

  .prices {
    img {
      float: none !important;
      margin-left: 0rem;
      margin-bottom: 1rem;
    }
  }

  .oil-img{
    text-align: center;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) {
  .content,
  .title {
    width: $width-md !important;
  }
}
