<app-header-client></app-header-client>
<app-breadcrumbs></app-breadcrumbs>

<!-- heading -->
<div class="heading-container">
  <div class="title">
    <h4>Homeowner's guide to:</h4>
    <h1>Heating Oil Deliveries</h1>
  </div>
</div>

<!-- content -->
<div class="content">
  <h2>Heating Oil Pricing & Payment Plans</h2>
  <h3>
    <b
      >Pricing Plan: What you pay per gallon vs. Payment Plan: When you pay your
      bill</b
    >
  </h3>

  <div class="calculation">
    <div class="payment-plan">
      <img
        src="../../../../../assets/blog/heating-oil-deliveries/heating_oil_payment_plan.jpeg"
        loading="lazy"
        alt="payment-plan"
      />
    </div>
    <div>
      <p>
        One reason homeowners opt to use more expensive “full service” home
        heating oil companies is that these companies offer a wide variety of
        Pricing Plans (that affect the price per gallon that you pay for oil)
        and Payment Plans (that affect when you pay for the oil).
      </p>
      <h2>
        Pricing Plans: How your price per gallon is calculated for each delivery
      </h2>
      <hr />

      <div>
        <ul>
          <li>
            <strong>Market Price (Variable Price):</strong>
            Each delivery, you pay the oil company’s daily advertised price per
            gallon on the day of delivery.
          </li>
          <li>
            <strong>Price Cap (Price Ceiling):</strong> A contract in which the
            homeowner pays a fixed fee to be protected, for a one-year period,
            from an extreme spike in the market price of heating oil. Price caps
            are offered in two flavors: (a) you pay a fixed up-front fee (e.g.
            $250) to price-protect a fixed number of gallons (e.g. 1,200
            gallons); or, (b) the oil company charges you a higher price per
            gallon than it’s daily advertised price, with the promise that this
            higher price maxes out at a certain point (regardless of how high
            the company’s daily advertised price gets).
          </li>
          <li>
            <strong>Fixed Price:</strong> The day you sign a 1-year delivery
            contract, the oil company forecasts your oil consumption for the
            upcoming 12 months, and pre-purchases these gallons to lock in your
            price. If the market price of heating oil falls, you are obligated
            to pay the higher, fixed price. If you use more than the forecast,
            you pay market price for excess gallons.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h2>Payment Plans: When your bill becomes due for each delivery</h2>
  <hr />
  <div class="delivery">
    <div class="oil-price">
      <img
        src="../../../../../assets/blog/heating-oil-deliveries/market_floating_oil_price.jpeg"
        loading="lazy"
        alt="oil-price"
      />
    </div>
    <div>
      <ul>
        <li>
          <strong>Pre-pay:</strong> You pay for oil you order before each
          delivery. If your tank doesn’t accept all of the gallons you ordered,
          you are refunded the difference.
        </li>
        <li>
          <strong>Post-pay: </strong>You are sent an invoice after each delivery
          and have 30 days to make payment. Heating oil companies that offer
          post-pay tend to be more expensive because these companies need to
          factor in the cost of homeowners who default on payments.
        </li>
        <li>
          <strong>Annual Prepay:</strong> The oil company estimates your total
          upcoming year of oil consumption, and you pay for the entire upcoming
          year of oil upon signing of the contract. If you use more oil than
          forecast, you are automatically switched to a pay-per-delivery basis.
        </li>
        <li>
          <strong>Budget Plan (12-Month Plan):</strong> The oil company
          estimates your total upcoming year oil cost based on your prior year
          usage and divides that amount by 12, billing you an equal amount each
          month of the year. Any difference between forecasted and actual annual
          cost is settled on your final month invoice.
        </li>
      </ul>
    </div>
  </div>
</div>
<app-section-footer></app-section-footer>
