<div class="term-container">
    <div class="white-space">
        <div class="term-heading">
            <h1 class="heading-text">DAVOS ENERGY, LLC TERMS &amp; CONDITIONS</h1>
        </div>
        <div class="term-content">
            <h2 class="para-bold">
                PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING
                THE SITE
            </h2>
            <p class="date">Effective Date: September 27, 2021</p>
            <div class="div-text-1">
                <p class="para-text-1">
                    THESE TERMS AND CONDITIONS (THESE &ldquo;TERMS&rdquo;), TOGETHER WITH THE
                    PRIVACY POLICY LOCATED ON HEATFLEET.COM, SETS FORTH LEGALLY
                    BINDING AGREEMENT FOR ANY AND ALL USE OF THE DAVOS ENERGY, LLC (THE
                    &ldquo;COMPANY&rdquo;, &ldquo;WE&rdquo;, &ldquo;OUR&rdquo; OR &ldquo;US&rdquo;) WEBSITE AND MOBILE
                    APPLICATIONS (THE
                    &ldquo;SERVICES&rdquo; OR THE &ldquo;SITE&rdquo;) BY USERS (&ldquo;YOU&rdquo;). READ THESE DOCUMENTS
                    BEFORE USING THE SERVICES BECAUSE BY USING THE SERVICES IN ANY
                    MANNER, YOU EXPRESSLY ACCEPT THE TERMS HEREIN.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    In Our sole discretion, We reserve the right to modify both the
                    Services and these Terms at any time. We may, in our sole
                    discretion, add, remove, or modify any information or functionality
                    provided on the Services at any time, without any notice. We may
                    limit Your access to select functionality without notice or
                    liability. We may, at our sole discretion, terminate the Services or
                    Your access to the Services at any time, with or without cause, with
                    or without notice, effective immediately. All provisions of these
                    Terms which by their nature should survive termination shall survive
                    such termination. Your continued use of the Services following any
                    changes to these Terms constitutes acceptance of those changes.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    The Company is a marketplace facilitator, enabling You to purchase a
                    product or service from a third-party provider (the &ldquo;Provider&rdquo;).
                    Each order that You place using the Services is an agreement between
                    You and the Provider that You have selected, or, in the case of a
                    Flash Sale, the Provider You have been assigned. The Company is not
                    responsible for delivering products or services associated with
                    orders on the marketplace, and any claims related to the purchase of
                    products or services on the marketplace must be brought directly to
                    the Provider and must be handled solely between You and the
                    Provider, including, but not limited to, property damage, product or
                    service quantity, quality, or availability issues, warranty issues,
                    and refunds.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    You represent and warrant that You are at least 18 years of age, and
                    that You are not a resident of California.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    Where personal information is required for use of the Services (for
                    example, when placing an order), You agree to provide accurate and
                    complete personal information, and that You are not impersonating a
                    third party. For orders that require classification as &ldquo;residential&rdquo;
                    or &ldquo;commercial,&rdquo; You agree to accurately classify the order. You are
                    solely responsible for activity conducted on Your account. You are
                    responsible for: (a) keeping personal information such as delivery
                    address, e-mail address, and phone number up to date; (b) selecting
                    a secure, unique password, and changing such password periodically
                    to prevent unauthorized access to Your account; and (c) logging out
                    of Your account prior to allowing other people to access Your
                    computer or device. You must notify us immediately of any
                    unauthorized access to or use of Your account.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    For purposes of these Terms, &ldquo;Content&rdquo; is defined as any
                    information, ideas, articles, communications, software, text, links,
                    published works, photos, video, graphics, music, sounds or other
                    material that can be viewed by users on the Site (and any
                    intellectual property rights related thereto), which is owned by the
                    Company, its affiliates, licensors and/or suppliers. By accepting
                    these Terms, you agree that all Content presented to You on the Site
                    is protected by any and all intellectual property and/or other
                    proprietary rights available within the United States, and is the
                    sole property of the Company, its affiliates, licensors and/or
                    suppliers, as applicable. Title to the Content remains with the
                    Company, its affiliates, licensors and/or suppliers, and all rights
                    not expressly granted herein are reserved to the Company, its
                    affiliates, licensors and/or suppliers. The Content and features are
                    subject to change or termination without notice by the Company in
                    its sole discretion. You are prohibited from claiming ownership or
                    use over any of our intellectual property without our prior written
                    consent. <br />As a condition of use, You are responsible for all
                    activity taken in Your account, and You agree not to use the
                    Services in any way that: (i) infringes on any patent, trademark,
                    copyright; (ii) infringes on any law; (iii) is threatening, abusive,
                    contains nudity, or is otherwise inappropriate as determined by Us
                    in Our sole discretion; (iv) impersonates any person or entity; (v)
                    spreads viruses or other software that disrupts or interferes with
                    proper functionality of any software, ours or otherwise; or (vi)
                    puts an inordinate load on Our servers or infrastructure.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    You agree not to upload, download, or distribute any information on
                    the Services other than the details of any order that You have
                    transacted. To be clear, this prohibition includes, but is not
                    limited to copying names of Providers and pricing of vendors from
                    the Services, either manually or automatically, except
                    recording details of orders that You have already placed. You
                    shall not decipher, decompile, disassemble, reverse engineer or
                    attempt to derive any source code or algorithms from the Services.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    If You transmit any reviews, comments, or suggestions to Us, You
                    hereby assign all rights to such reviews, comments, or suggestions
                    to Us.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    In some cases (for example, service calls), the amount that You pay
                    on Our marketplace covers a certain amount of a service technician&rsquo;s
                    time, which is typically used to diagnose a problem or fix a minor
                    problem that does not require parts. If parts or additional time are
                    deemed necessary to complete the job, the Provider will provide You
                    with a description of the work, parts needed, and additional payment
                    required to complete the service. You must approve this quote before
                    the Provider completes the job, and pay the Provider directly for
                    any additional required payment (including applicable taxes) in the
                    timeframe that the Provider specifies in the quote.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    In some cases, Your tank may be unable to take delivery of the full
                    quantity specified in Your order. We will refund the value of the
                    undelivered quantity to Your initial form of payment. It is
                    important to understand that the price per gallon of fuel is
                    incrementally discounted based on the volume of product purchased
                    (volume discounting), and therefore if a smaller quantity was
                    delivered than Your order, the final price per gallon of Your
                    finalized order may be higher than the quote specified in Your order
                    confirmation at time of order placement.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    Descriptions, details, and pricing of products and services on Our
                    marketplaces are provided by the Providers. The Company cannot and
                    does not guarantee the accuracy of this data and is not responsible
                    for errors with this data or any result of these data errors.
                </p>
            </div>
            <div class="div-text-spacing">
                <p class="para-text-2">
                    When You submit an order via our marketplaces, You enter into a
                    binding agreement with the Provider. You are solely responsible for
                    making sure that the Provider&rsquo;s representative has a clear, safe
                    access to your fill pipe (for fuel delivery) or HVAC system (for
                    service), including, but not limited to: (i) plowing your driveway
                    adequately for the Provider&rsquo;s vehicle to enter and park, (ii)
                    shoveling a pathway to your fill pipe or door, and (iii) restraining
                    any pets or other animals that may pose a risk to the Provider&rsquo;s
                    employees. You represent that Your fuel tank has been inspected by a
                    licensed technician and that it is free of leaks and in good working
                    condition and fit to receive a fuel delivery.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    Each Provider has its own refund policy that the Company does not
                    control. If a Provider initiates a refund on one of Our marketplaces
                    before an order is fulfilled, We will refund the full amount paid
                    back to Your initial method of payment. After a Provider has marked
                    an order fulfilled in our Marketplace, a refund must be credited
                    directly to You from the Provider.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    Many products and services offered on our marketplaces are specific
                    to the coverage area of our participating Providers. For those
                    products and services, offers are only valid within the specified
                    coverage areas.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    The Services may contain links to third party webpages or software;
                    and, when You click on these links, You access these third party
                    websites and software at Your own risk. Inclusion of these links on
                    our Services does not imply any endorsement or association between
                    Us and the owners of those sites/software, and we will not be
                    responsible for any inaccuracies or damage caused by Your use of
                    these links. <span class="para-normal">
                        THE COMPANY EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS
                        OR IMPLIED (INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
                        OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                        NON-INFRINGEMENT OR TITLE), TO ANY THIRD-PARTY PRODUCTS, SERVICES,
                        INFORMATION, OR LINKED WEBSITES, INCLUDING, BUT NOT LIMITED TO,
                        ANY TERMS AS TO THE ACCURACY, OWNERSHIP, VALIDITY OR LEGALITY OF
                        ANY CONTENT OF A LINKED WEBSITE.</span>
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-normal-1">
                    THE SITE AND THE CONTENT ARE PROVIDED &ldquo;AS IS&rdquo; AND THE USE OF THE
                    SITE AND CONTENT IS AT YOUR OWN RISK. THE COMPANY AND ITS LICENSORS,
                    AFFILIATES AND SUPPLIERS, TO THE FULLEST EXTENT PERMITTED BY LAW,
                    EXPRESSLY DISCLAIM ALL WARRANTIES, EITHER EXPRESS OR IMPLIED,
                    STATUTORY OR OTHERWISE RELATED TO THE SITE AND THE CONTENT AND ANY
                    PRODUCTS OR SERVICES YOU ACQUIRE THROUGH THE SITE, INCLUDING, BUT
                    NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY,
                    NON-INFRINGEMENT OF THIRD PARTIES&rsquo; RIGHTS, AND FITNESS FOR
                    PARTICULAR PURPOSE. WITHOUT LIMITING THE FOREGOING, THE COMPANY, ITS
                    AFFILIATES, ITS LICENSORS, AND ITS SUPPLIERS MAKE NO REPRESENTATIONS
                    OR WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS,
                    CORRECTNESS OR TIMELINESS OF THE CONTENT PROVIDED ON OR THROUGH THE
                    USE OF THE SITE. BY ACCESSING ANY CONTENT ON THE SITE, YOU ASSUME
                    ALL THE RISK OF YOUR ACCESS AND ANY SUBSEQUENT ACTIONS YOU CHOOSE TO
                    TAKE AS A RESULT OF THE INFLUENCE, INFORMATION OR EDUCATIONAL
                    MATERIALS PROVIDED TO YOU. YOU AGREE AND HEREBY HOLD THE COMPANY
                    HARMLESS FROM ANY AND ALL LOSSES, CLAIMS OR DAMAGES RELATED TO <span class="para-bold">
                        THE ACCURACY, LEGALITY, SAFETY OR QUALITY OF SUCH INFORMATION,
                        PRODUCTS, AND SERVICES YOU PROCURE THROUGH THE SITE. YOU
                        ACKNOWLEDGE THAT WE ARE NOT INSPECTING YOUR TANK FOR WEAR,
                        CORROSION, LEAKS, OR SPILLS AND THEREFORE ARE NOT RESPONSIBLE FOR
                        ANY WEAR, CORROSION, LEAKS, OR SPILLS WITH RESPECT TO YOUR TANK.</span>
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-normal-1">
                    WHEN USING THE SITE, INFORMATION WILL BE TRANSMITTED OVER A MEDIUM
                    THAT MAY BE BEYOND THE CONTROL AND JURISDICTION OF THE COMPANY AND
                    ITS SUPPLIERS. ACCORDINGLY, THE COMPANY ASSUMES NO LIABILITY FOR OR
                    RELATING TO THE DELAY, FAILURE, INTERRUPTION OR CORRUPTION OF ANY
                    DATA OR OTHER INFORMATION TRANSMITTED IN CONNECTION WITH USE OF THE
                    SITE.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-normal-1">
                    IN NO EVENT SHALL THE COMPANY OR ITS AFFILIATES, LICENSORS OR
                    SUPPLIERS OR ANY THIRD PARTIES MENTIONED ON THE SITE BE LIABLE FOR
                    ANY DAMAGES (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND
                    CONSEQUENTIAL DAMAGES, PERSONAL INJURY/WRONGFUL DEATH, LOST PROFITS
                    OR OTHER DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION)
                    RESULTING FROM THE USE OF OR INABILITY TO USE THE SITE OR THE
                    CONTENT (OR FROM ANY PRODUCTS OR SERVICES PROCURED THEREFROM),
                    WHETHER BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL THEORY,
                    AND REGARDLESS OF WHETHER THE COMPANY OR ITS LICENSORS, AFFILIATES
                    OR SUPPLIERS, OR ANY THIRD PARTIES MENTIONED ON THE SITE ARE ADVISED
                    OF THE POSSIBILITY OF SUCH DAMAGES. ADDITIONALLY, THE COMPANY SHALL
                    ONLY BE LIABLE IN AN AMOUNT NOT TO EXCEED THE AMOUNT YOU HAVE PAID
                    THE COMPANY DURING THE PERIOD OF THREE (3) MONTHS PRIOR TO THE DATE
                    GIVING RISE TO THE CLAIM OR DAMAGE. ANY CLAIMS ARISING IN CONNECTION
                    WITH YOUR USE OF THE SITE, OR THE CONTENT MUST BE BROUGHT WITHIN THE
                    SIX (6) MONTH PERIOD OF THE DATE OF THE EVENT GIVING RISE TO SUCH
                    ACTION OCCURRED. REMEDIES UNDER THESE TERMS ARE EXCLUSIVE AND ARE
                    LIMITED TO THOSE EXPRESSLY PROVIDED FOR IN THESE TERMS.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    You shall defend, indemnify, and hold harmless Us, our affiliates
                    and each of our and their respective employees, contractors,
                    directors, suppliers, vendors, and representatives from all
                    liabilities, claims, and expenses, including reasonable attorneys&rsquo;
                    fees, that arise from or relate to Your use or inability to use the
                    Services and any claims, losses and damages related to the products
                    or services procured through the Site, including, but not limited
                    to, any oil spills or leaks. We reserve the right to assume the
                    exclusive defense and control of any matter otherwise subject to
                    indemnification by You, in which event You will assist and cooperate
                    with us in asserting any available defenses.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    While the Company makes all reasonable attempts to exclude viruses
                    from the Site, it cannot ensure such exclusion. You acknowledge that
                    the Company shall not be liable for any damage caused through the
                    downloading of viruses. Therefore, You are recommended to take all
                    appropriate safeguards before downloading information from the Site.
                    You understand and agree that temporary interruptions of the Site
                    may occur as normal events that are out of the Company&rsquo;s control.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    These Terms shall be construed and enforced in accordance with the
                    laws of the State of Florida without regard to the principle of the
                    conflict of laws. Venue for any action commenced under the
                    Agreements will be the appropriate state or federal court located in
                    and around Duval County, Florida and each party consents to the
                    venue and jurisdiction of the courts set forth above. The parties
                    hereto hereby knowingly, voluntarily and intentionally waive all of
                    their respective rights to a trial by jury in any proceeding brought
                    to enforce or defend any terms or provisions of the Terms.
                </p>
            </div>
            <div class="div-text-spacing">
                <p class="para-text-2">
                    These Terms (together with the Privacy Policy) constitute the entire
                    agreement by and between the parties with respect to their subject
                    and supersede all prior agreements or understandings, oral or
                    written, with respect to their subject. These Terms may not
                    be amended, modified or terminated except in writing executed by
                    each of the parties hereto, which writing shall expressly state the
                    intention of the parties to affect such amendment, modification or
                    termination.
                </p>
            </div>
            <div class="div-text-spacing">
                <p class="para-text-2">
                    We shall not be held liable if prevented from performing any of Our
                    obligations due to causes beyond Our reasonable control including,
                    but not limited to, acts of God or government, fires, floods,
                    droughts, snow emergencies, earthquakes, wars, epidemics, pandemics,
                    acts of terrorism, riots, labor disputes, delays in transportation,
                    embargoes or shortages of product.
                </p>
            </div>
            <div class="div-text-spacing">
                <p class="para-text-2">
                    These Terms are personal to You, and are not assignable,
                    transferable or sub-licensable by You. We may assign, transfer or
                    delegate any of our rights and obligations hereunder without
                    consent.
                </p>
            </div>
            <div class="div-text-spacing">
                <p class="para-text-2">
                    No agency, partnership, joint venture, or employment relationship is
                    created as a result of these Terms and neither party has any
                    authority of any kind to bind the other in any respect.
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    All notices, demands and other communications under the Terms shall
                    be in writing and shall be deemed to have been duly given (a) if
                    delivered in person, when delivered, (b) when received by the
                    addressee if sent by a nationally recognized overnight courier
                    (receipt requested), (c) on the date sent by e-mail of a PDF
                    document (with confirmation of transmission) if sent during normal
                    business hours of the recipient, and on the next business day if
                    sent after normal business hours of the recipient or (d) on the
                    third (3rd) day after the date mailed, by certified or registered
                    mail, return receipt requested, postage prepaid. Such communications
                    must be sent to the Company at 4651 Salisbury Road, Suite 400,
                    Jacksonville, FL 32256, and to you via the last known address of
                    record in the Company&rsquo;s system (or to such other addresses as the
                    parties may designate by notice to the other parties in accordance
                    with this paragraph).
                </p>
            </div>
            <div class="div-text-2">
                <p class="para-text-2">
                    Our failure to enforce any part of these Terms shall not constitute
                    a waiver of our right to later enforce that or any other part of
                    these Terms. Waiver of compliance in any particular instance does
                    not mean that we will waive compliance in the future. In order for
                    any waiver of compliance with these Terms to be binding, we must
                    provide You with written notice.
                </p>
            </div>
        </div>
    </div>
</div>