.outer-container.pricehart
    ion-row.txt-top-row
      ion-col.col-left(size='6', size-md='6', size-lg='6')
          ion-row
            ion-col.col-single
              h3.txtno1 US Average 
                span.mn(*ngIf="config.typeParam == 'type=1'") Heating Oil 
                span.mn(*ngIf="config.typeParam == 'type=2'") Heating Repair 
                | Chart
              p.subtextno1
                | Updated {{ lastUpdate }} 
      ion-col.col-right(size='6', size-md='6', size-lg='6')
          .boxes
            .boxflex
                .iconcontainer
                    img.iconaligned(src='https://media-cdn.heatfleet.com/aa-US-Heating-OIl-Delivery-Map.webp?tr=w-49,h-30',  title="US Heating OIl Delivery Map", alt="Service Area Map For US Heating Oil Delivery" fetchpriority="high")
                .txtcontainer
                    p.txt-gray US Average
                    .txtalgned
                      ion-label.line1.sup
                      | <sup class="dollor-symbol">$</sup> {{ Avprice | number: &quot;1.3-3&quot; | priceDigit }}
                      sup.txtpricelastdigit {{ Avprice | number: &quot;1.3-3&quot; | lastDigit }}
    #histroical-price-chart-oil
.bottom-container
  ion-row.row-cu-end
    ion-col.col-cls(size='12', size-md='12', size-lg='6')
      .sub-box
        p.txt-subscription
          span.txt-mobiletxt
            | Subscribe to deals and price alerts
    ion-col.col-cls(size='12', size-md='12', size-lg='6')
      .sub-input([formGroup]="emailForm")
        input.inp-bx(placeholder='me@email.com', formControlName="email" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;")
        button.btn-subscribe((click)="contact()" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;") Subscribe



