@import "../../variables";
@import "../../mixins";

@include global-css;

.mainContainer {
    .headingBg {
        background: #43C3F6;

        .heading {
            width: $width-lg;
            margin: 0px auto;
            padding: 10px 0px;

            @media (max-width: 992px) {
                width: $width-lg;
            }

            @media (max-width: 768px) {
                width: $width-md;
            }

            .title {
                padding: 0px 10px;
                @extend heading-title;
            }
        }
    }


    .content {
        width: $width-lg;
        margin: 20px auto;

        @media (max-width: 992px) {
            width: $width-lg;
        }

        @media (max-width: 768px) {
            width: $width-md;
        }

        .contentInner {
            padding: 10px;

            .title {
                margin-bottom: 20px;
            }

            .details {
                display: flex;

                div {
                    width: 50%;
                    padding: 20px;
                }

                img {
                    width: 500px;
                    margin-left: 16px;
                }

                @media (max-width: 992px) {
                    flex-direction: column;

                    img {
                        margin-left: 0px;
                        width: 100%;
                    }
                    div {
                        width: 100%;
                        padding: 20px;
                    }
                }

                @media (max-width: 768px) {
                    flex-direction: column;

                    img {
                        margin-left: 0px;
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    div {
                        width: 100%;
                        padding: 20px;
                    }
                }
            }
        }
    }

}