<app-header-client></app-header-client>
<app-breadcrumbs></app-breadcrumbs>
<div class="mainContainer">
    <div class="headingBg">
        <div class="heading">
            <div class="title">
                <h4>Homeowner's guide to:</h4>
                <h1>Oil Central Heating</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="contentInner">
            <div class="title">
                <h2>Oil Tank</h2>
                <h2>Oil Tank Chart</h2>
                <hr />
            </div>
            <div class="details">
                <p>
                    Any <a href="blog/oil-central-heating/">home heating system</a> that uses oil as fuel must have oil
                    storage tanks to hold the oil
                    supply. Most tanks hold 275 gallons of oil and are either cylindrical or oval in shape. Oval
                    tanks are installed vertically or horizontally while cylindrical tanks are installed
                    horizontally. They are designed to fit in various places within or outside of a home. Using fuel
                    oil in conjunction with oil tanks is important to understand as a homeowner.
                </p>
                <img src="assets/blog/oil-central-heating/oil-tank-guide/home_heating_oil_tank.jpg" alt="" srcset="">
            </div>
            <div>
                <h3>Purpose of Oil Storage Tanks</h3>
                <hr>
                <p>Fuel oil is is a safer and more commonly used type of fuel for home heating systems than other
                    sources. It is also clean-burning and contains energy that can be converted to heat. Fuel oil is
                    less expensive than other options, but must be purchased in bulk. It is stored in one or more
                    storage tanks that are inside or near the home. Oil furnaces require regular refills to maintain
                    appropriate fuel levels. Furnaces will not produce heat if the oil runs out. Consequently, fuel
                    levels in the tank must be carefully monitored, especially during the winter when usage
                    increases.</p>
                <p>Some considerations to keep in mind are the following:</p>
                <ol>
                    <li>Fuel oil may be contaminated by substances that are introduced when the tank is being filled
                        or via rust and corrosion within the tank itself.</li>
                    <li>Nozzles and other components of oil mixing and spraying must be kept in good shape without
                        clogs that may interfere with the burning of oil.</li>
                    <li>Oil spills or tank leaks result in messes and environmental hazards leading to expensive
                        clean-up procedures that can be very problematic for tanks in the basement or in close
                        proximity to the home.</li>
                </ol>
            </div>
            <div>
                <h3>Oil Tank Types</h3>
                <hr>
                <p>If fuel oil is chosen to heat your home, there are several types and sizes of heating oil tanks.
                </p>
                <ol>
                    <li>Above-ground indoor tanks: These tanks are typically kept in the basement, utility room, or
                        an
                        attached building. Usually, they are able to hold 275 gallons of fuel oil. However, smaller
                        models hold 160 gallons, and larger ones may hold 400 gallons of fuel. The size you choose
                        depends on your indoor comfort requirements, frequency of furnace usage, and climate. Larger
                        tanks are refilled less but cost more to fill. Smaller tanks run out more quickly, but can
                        be
                        appropriate if your furnace usage and heating is minimal.</li>
                    <li>Above-ground outdoor tanks: Tanks like these are installed near the home at the side or rear
                        generally.
                        They are usually located in rural areas and places where utility lines do not reach. They
                        are
                        durable and can withstand storms, snowfall, ice, and extreme temperatures. Most hold 275
                        gallons
                        of fuel oil, but there are smaller and larger models as well.</li>
                    <li>Underground tanks: These storage tanks are buried underground.
                        The fill pipe is where the tank is refilled and is placed above ground so drivers can easily
                        reach it. These tanks typically hold 550 to 1,000 gallons of fuel. If these tanks’ locations
                        are
                        lost, they can be difficult to locate by new property owners. An unexpected tank can be a
                        problem to construction crews or new homeowners during a construction project.</li>
                    <li>For a more detailed look at which oil tank brand is for you, check out <a
                            href="blog/oil-central-heating/oil-tank-guide/">our post</a> here.</li>
                </ol>
            </div>
            <div class="details">
                <div>
                    <h3>Oil Tank Materials</h3>
                    <p>Oil storage tanks are usually made of one of the following materials:</p>
                    <ol>
                        <li>
                            <p>Steel: Steel tanks are the least expensive and are in wide usage across the U.S. They
                                can be used as underground and above-ground tanks. They must conform to strict
                                manufacturing and construction standards.</p>
                        </li>
                        <li>
                            <p>Fiberglass: These tanks are durable and strong. They generally do not have problems
                                revolving around rust, leakage, and sediment. They were once only used in
                                underground
                                applications, but recently they have been used in above-ground storage.</p>
                        </li>
                        <li>
                            <p>Combination: Hybrid tanks use a double-wall construction resulting in the most
                                reliable
                                and durable option. The inner tank is made of a thick polyethylene composite, and
                                the
                                outer tank is made of galvanized steel. The steel outer tank is damage resistant and
                                durable, while the inner tank is non-rusting and tough. Both tanks comply with
                                pressure
                                tests and standards. While these tanks are the most expensive, they are the safest
                                and
                                most reliable in the market today.</p>
                        </li>
                    </ol>
                </div>
                <div>
                    <h3>Oil Tank Installation</h3>
                    <p>Oil tanks should be installed by qualified professionals to ensure safe operation,
                        reliability,
                        and delivery of oil to the furnace. Some tanks have legs, while others require stands or
                        frameworks to hold the tank.</p>

                    <p>Pouring a concrete slab as a base for above-ground outdoor tanks is a reliable strategy. For
                        indoor tanks, the floor where the tank is installed must be level and be able to hold the
                        weight
                        of a full tank.</p>

                    <p>For more detail on oil tank installation, refer <a
                            href="blog/heating-system-repair/fuel-oil-tank-installation-diagram/">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-section-footer></app-section-footer>