<app-header-client></app-header-client>
<app-breadcrumbs></app-breadcrumbs>
<div class="mainContainer">
    <div class="headingBg">
        <div class="heading">
            <div class="title">
                <h4>Homeowner's guide to:</h4>
                <h1>Oil Central Heating</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="contentInner">
            <div class="what">
                <h2>What is Central Heating?</h2>
                <hr />
                <div class="whatDetails">
                    <p><a href="#"><img src="assets/blog/oil-central-heating/central_heating_thermostat-300x200.jpg"
                                alt="central_heating_thermostat-300x200.jpg" srcset="" /></a></p>
                    <p>Central Heating systems warm the inside of buildings or parts of buildings, with the heat
                        usually originating from one point and spreading to multiple rooms and hallways. When
                        Central Heating systems are used in conjunction with other temperature control systems, the
                        entire system is sometimes referred to as a HVAC system. Central Heating is generally used
                        in cooler climates; most modern buildings – including hotels, malls, office buildings, and
                        other commercial spaces – have their own central heat. However, many times a single central
                        heating system can be used to warm many buildings at once.</p>
                    <p>Central Heating systems are not homogeneous: the installation process is largely informed by
                        the installer’s heating needs and requirements. Furthermore, the way the heating is
                        controlled and monitored needs to be optimized building by building – a well programmed
                        Central Heating system can adjust heat and monitor itself without human input. Again, how
                        complex this system is depends on homeowner and building owner’s heating desires. “District
                        heating” is an extension of central heating wherein a collection of houses or buildings are
                        heated from a central location usually manned by a public utility. The heat source in these
                        cases is usually steam from central boiler rooms.</p>
                </div>
            </div>
            <div class="history">
                <h2>History of Central Heating</h2>
                <hr />
                <div class="historyDetails">
                    <p>Although modern central heating methods were developed in the last few centuries, the concept
                        started long before with the ancient Greeks. Their temples were warmed with heat from fires
                        that were circulated using flues. Ancient Romans continued this practice, using furnaces to
                        heat air around a room that would lead to the entire room gradually warming. These
                        techniques were lost with the collapse of Roman civilization.</p>
                    <p>In 1793, a British engineer named William Strutt designed a furnace based off of a design by
                        English writer John Evelyn developed almost a hundred years before. Using an underground
                        passage, air outside of the structure was heated in Strutt’s design. With the help of
                        another engineer, Charles Sylvester, Strutt constructed a heating system for a local
                        hospital that not only heated the air but also cleaned it.</p>
                    <p>In the 18th century, a Scottish inventor by the name of James Watt built the first working
                        central boiler system. Using pipes, steam was placed under pressure and distributed through
                        the building. Hot water heating systems didn’t proliferate until the 1830s, when buildings
                        such as factories and churches began to adopt them.</p>
                    <p>In the late 1850s, Russian inventor Franz San Galli developed the radiator, which quickly
                        spread across most of Europe and the United States. Radiators were doubly useful in the fact
                        they could not only heat rooms but also provide hot water.</p>
                    <p>After World War II, central heating systems started to become commonplace in American
                        households. They used boilers to generate heat, spreading the heat into hallways and rooms
                        through radiators. Electric heating was introduced soon after, proving to be a cost
                        effective and comfortable method of heating the home.</p>
                    <div class="historyContent1">
                        <h3>How does Central Heating work?</h3>
                        <p>Most central heating systems work by warming cool air. A simplification of their
                            processes:</p>
                        <ol>
                            <li> Heat is generated in the burner of <a routerLink="fuel-oil-furnace">the furnace </a>by
                                burning natural
                                gas or propane.</li>
                            <li>The heat generated by the furnace transfers its heat through a heat exchanger, which
                                becomes extremely hot.</li>
                            <li>Air from ducts in the home is blown against the recently heated heat exchanger,
                                which warms the air.</li>
                            <li>The blower on the furnace blows the heated air back into the home’s ductwork, which
                                filters the air throughout the home, providing heat to each room.</li>
                        </ol>
                        <h3>What’s the difference between Central Heating and Direct Heating?</h3>
                        <p> <a routerLink="fuel-oil-furnace">Boilers</a>, heat pumps, and furnaces are all classified as
                            central heating
                            systems. This is because they generate heat in some central location within your home
                            and ductwork or radiators are used to disseminate that heat throughout the home.</p>
                        <p> <a routerLink="../direct-heat">Direct heat </a>is generally more supplemental, like a space
                            heater. The benefit of using direct heating systems is that they can be installed much
                            more easily than central heating systems and, if needed, are also more easy to upgrade.
                            However, they can be expensive, especially if the whole house is heated using direct
                            heat.</p>
                    </div>
                </div>
            </div>
            <div class="type">
                <h2>What are the types of Central Heating?</h2>
                <hr />
                <p><strong>Furnaces</strong></p>
                <p>Furnaces force hot air throughout your home using ductwork. Furnaces can use electricity,
                    propane, or oil to heat the air, but usually use natural gas. </p>
                <p>Gas furnaces are especially popular as the system they used to distribute air can be used in
                    hotter months by air conditioning units.</p>
                <p><strong>Boiler</strong></p>
                <p>Boilers are an alternative heating system that heat water instead of air and send it through
                    pipes to heat the home. This can allow the homeowner to target areas of the home that require
                    more heating or cooling. They are more expensive to install and maintain than boilers or heat
                    pumps.</p>
                <p>Boilers and furnaces are examples of central heating systems.</p>
                <p><strong>Heat Pump</strong></p>
                <p>Despite their name, heat pumps are used to heat and cool the home. Electricity and refrigerant
                    are used to transfer heat rather than generating the heat itself. Because of this, heat pumps
                    are very efficient. However, they work best in moderate climates and can struggle to heat at
                    very low temperatures.</p>
            </div>
        </div>
    </div>
</div>
<app-section-footer></app-section-footer>