<app-header-client></app-header-client>
<app-breadcrumbs></app-breadcrumbs>
<div class="mainContainer">
    <div class="headingBg">
        <div class="heading">
            <!-- removed ion row and col here -->
            <div class="title">
                <h4>Homeowner's guide to:</h4>
                <h1>Oil Central Heating</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="contentInner">
            <!-- title -->
            <div class="title">
                <h2>Oil Furnace Brands & Models</h2>
            </div>
            <!-- #1 wrapper -->
            <div class="title">
                <h2><a href="https://www.bryant.com/en/us/" target="_blank" rel="noopener noreferrer">Bryant Heating
                        and Cooling Systems</a>
                </h2>
                <hr />
            </div>
            <div class="details">
                <img src="assets/blog/oil-central-heating/fuel-oil-furnace-and-boiler-brands/oil-furnace-preffered-OVL.webp"
                    alt="oil-furnace-preffered-OVL.webp" srcset="">
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td>AFUE Rating</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.bryant.com/en/us/products/oil-furnaces/ovl/" target="_blank"
                                    rel="noopener noreferrer">Preferred Series OVL Oil Furnace</a></td>
                            <td>87.50%</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.bryant.com/en/us/products/oil-furnaces/ovm/" target="_blank"
                                    rel="noopener noreferrer">Preferred Series OVM Oil Furnace</a></td>
                            <td>86.40%</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- #2 wrapper -->
            <div class="title">
                <h2><a href="https://www.rheem.com/" target="_blank">Rheem</a></h2>
                <hr />
            </div>
            <div class="details">
                <img src="assets/blog/oil-central-heating/fuel-oil-furnace-and-boiler-brands/rocb-118p05-m-400.jpg"
                    alt="oil-furnace-preffered-OVL.webp" srcset="">
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td>AFUE Rating</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.hvacinformed.com/rheem-rocb-072p04-m-oil-furnace-technical-details.html"
                                    target="_blank" rel="noopener noreferrer">Classic Series ROCB</a></td>
                            <td>86.50%</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.hvacinformed.com/rheem-roca-115e-oil-furnace-technical-details.html"
                                    target="_blank" rel="noopener noreferrer">Classic Series ROCA</a></td>
                            <td>85.90%</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- #3 wrapper -->
            <div class="title">
                <h2><a href="https://www.carrier.com/" target="_blank">Carrier</a></h2>
                <hr />
            </div>
            <div class="details">
                <img src="assets/blog/oil-central-heating/fuel-oil-furnace-and-boiler-brands/performance-80-oil-furnace-OVL.png"
                    alt="oil-furnace-preffered-OVL.webp" srcset="">
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td>AFUE Rating</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.carrier.com/residential/en/us/products/furnaces/ovl/"
                                    target="_blank" rel="noopener">Performance 80 OVL</a></td>
                            <td>87.50%</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.carrier.com/residential/en/us/products/furnaces/ovm/"
                                    target="_blank" rel="noopener">Performance 80 OVM</a></td>
                            <td>86.40%</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.carrier.com/residential/en/us/products/furnaces/obl/"
                                    target="_blank" rel="noopener">Comfort 80 OBL</a></td>
                            <td>87.50%</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.carrier.com/residential/en/us/products/furnaces/obm/"
                                    target="_balnk" rel="noopener">Comfort 80 OBM</a></td>
                            <td>86.40%</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- #4 wrapper -->
            <div class="title">
                <h2><a href="https://www.lennox.com/" target="_blank">Lennox</a></h2>
                <hr />
            </div>
            <div class="details">
                <img src="assets/blog/oil-central-heating/fuel-oil-furnace-and-boiler-brands/28c19a97-25f8-489f-bad5-52c518935f5249126-main-lg.png"
                    alt="oil-furnace-preffered-OVL.webp" srcset="">
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td>AFUE Rating</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.lennox.com/products/heating-cooling/furnaces/slo185v"
                                    target="_blank" rel="noopener">Signature SLO185V</a></td>
                            <td>85%</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.lennox.com/products/heating-cooling/furnaces/elo183"
                                    target="_blank" rel="noopener">Elite ELO183</a></td>
                            <td>83%</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- #5 wrapper -->
            <div class="title">
                <h2><a href="https://www.trane.com/" target="_blank">Trane</a></h2>
                <hr />
            </div>
            <div class="details">
                <img src="assets/blog/oil-central-heating/fuel-oil-furnace-and-boiler-brands/xv80-lg.png"
                    alt="oil-furnace-preffered-OVL.webp" srcset="">
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td>AFUE Rating</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.trane.com/residential/en/products/gas-furnaces/xv80/"
                                    target="_blanks" rel="noopener">XV80 Furnace</a></td>
                            <td>85%</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.trane.com/residential/en/products/oil-furnaces/xp80/"
                                    target="_blank" rel="noopener">XP80 Furnace</a></td>
                            <td>85%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-section-footer></app-section-footer>