<app-header-client></app-header-client>
<app-breadcrumbs></app-breadcrumbs>
<div class="mainContainer">
  <div class="headingBg">
    <div class="heading">
      <div class="title">
        <h4>Homeowner's guide to:</h4>
        <h1>Oil Central Heating</h1>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="contentInner">
      <div class="title">
        <h2>Fuel Oil Furnace & Boiler Guide</h2>
        <hr />
        <div class="details">
          <img src="assets\blog\oil-central-heating\fuel-oil-furnace\rheem_heating_oil_furance-733x1024.png"
            alt="rheem_heating_oil_furance.png" srcset="">
          <div>
            <h3>What is a Fuel Oil Furnace?</h3>
            <hr />
            <p>Fuel oil furnaces are <a routerLink="../../oil-central-heating">central heating systems</a> that use oil.
              Oil is ignited in the
              combustion chamber to
              create heat. The heat is passed into either gas or water (depending on the system) through the heat
              exchanger. Air from the house is then brought in with a fan and is converted to warmer air through the
              heat exchanger. The air cycles in an ongoing process to produce heat inside the home. (<a
                href="https://www.presidentialheatandair.com/gas-vs-oil-furnace-installation/">Gas Vs
                Oil Furnace </a>, Presidential Heat and Air)</p>
            <h3>What is an Oil Boiler?</h3>
            <hr />
            <p>
              A boiler refers to heating machinery that contains water. The burner on the boiler provides a flame to
              heat the water, which is sent to radiators, baseboards, or heating coils to provide warmth throughout
              the home. There are two types of boilers. Forced hot water boilers heat water and loop it through the
              home to provide instant heat. When a thermostat calls for heat, water is pumped in that thermostat’s
              direction.
            </p>
          </div>
        </div>
      </div>
      <div class="details">
        <div>
          <h3>How does a Fuel Oil Furnace work?</h3>
          <hr />
          <p>The thermostat (1) sends a signal to the controls (2) on the burner (3). The fuel pump (4) draws oil
            through a filter (5) to the burner. The burner turns the oil into a fine spray, mixes it with air and
            ignites it in the combustion chamber (6), causing the chamber to become very hot. Air absorbs heat in the
            heat exchanger (7). A blower (8) sends this air through ducts (9) to heat the home. The air eventually
            circulates back to the heat exchanger and the cycle continues. Combustion emissions are vented out the
            flue (10).</p>
          <h3>How does a Fuel Oil Boiler work?</h3>
          <hr />
          <p>The thermostat (1) sends a signal to the controls (2) on the burner (3). The fuel pump (4) draws oil
            through a filter (5) to the burner. The burner turns the oil into a fine spray, mixes it with air and
            ignites it in the combustion chamber (6), causing the chamber to get very hot. Water circulates around the
            combustion chamber. A circulator (7) pumps the heated water through radiators or baseboards to heat the
            home. An expansion tank (8) adjusts to varying pressures. Eventually, the water returns to the heating
            unit to begin the cycle again. Combustion emissions are vented out the flue (9).
            (http://oilheatamerica.com/knowledge-base/equipment/how-it-works/)</p>
        </div>
        <img id="img2" src="assets\blog\oil-central-heating\fuel-oil-furnace\lennox_heating_oil_furnace.png"
          alt="lennox_heating_oil_furnace.png" srcset="">
      </div>
      <div>
        <h3>Should I get a Fuel Oil Furnace?</h3>
        <hr>
        <p>Answering these questions will help you decide if an oil furnace makes the most sense for you:</p>
        <ol>
          <li>Is natural gas available? It is probably not in your best interest to install an oil furnace if you have
            access to natural gas. Natural gas is cheaper on a per energy basis and requires much less maintenance (oil
            leaking is a much bigger issue).</li>
          <li>Do you have a serviceable <a routerLink="/blog/heating-system-repair/oil-tank-leak-repair">oil tank</a>? If you
            have an oil tank already installed in your home, then it might
            make sense to install an oil furnace as you won’t have to face the additional cost of an oil tank.</li>
          <li>Do you value energy security? Oil, unlike electricity or natural gas, is stored on site at your home. This
            means rather than being piped in from a central grid, your energy needs are self sufficient. In the case of
            an electrical outage or a natural disaster affecting natural gas flow, your home will continue to have heat.
            This is especially a concern in areas that face harsh winters and are at risk of power outages.</li>
        </ol>
      </div>
      <div>
        <h3>Fuel Oil Furnace considerations:</h3>
        <hr>
        <a routerLink="/blog/oil-central-heating/fuel-oil-furnace-and-boiler-sizes">What size fuel oil furnace should I
          get?</a>
      </div>

    </div>
  </div>
</div>
<app-section-footer></app-section-footer>