<div class="faq__wrapper pt-5 pb-5">
    <div class="row tw">
        <div class="col-12 col-md-12 col-lg-12">
            <h1 class="contact_desc">Heating Oil Delivery</h1>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="container-innr left">
                <div class="accordion-wrapperr">
                    <div class="accordion-ct">
                        <div class="label-faqs">
                            <img src="https://media-cdn.heatfleet.com/information-vector-icon.webp" class="info-icon"
                                alt="info icon" title="info icon" />
                            <label class="accordion-label-tw">What do "Will-call", "COD fuel company", and "cash heating
                                oil
                                order" mean?
                            </label>
                        </div>
                        <div class="accordion-content-tw">
                            <p class="p_content-tw">
                                Will-call, COD fuel company, and cash heating oil order are all
                                equivalent terms meaning that you, the homeowner, occasionally
                                check your oil gauge and place heating oil delivery orders when
                                you’re running low.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="container-innr left">
                <div class="accordion-wrapperr">
                    <div class="accordion-ct">
                        <div class="label-faqs">
                            <img src="https://media-cdn.heatfleet.com/information-vector-icon.webp" class="info-icon"
                                alt="info icon" title="info icon" />
                            <label class="accordion-label-tw">What does "Automatic Delivery" mean?</label>
                        </div>
                        <div class="accordion-content-tw">
                            <p class="p_content-tw">
                                Automatic heating oil delivery means that your heating oil
                                company uses special software to estimate your oil usage, and
                                the company delivers oil when the software says that you are
                                probably running low on oil. Typically, homeowners order
                                automatic delivery in conjunction with a 1-year oil delivery
                                contract, but many companies offer automatic delivery without a
                                contract. The benefit of automatic delivery is the convenience
                                of never needing to check your oil gauge. The drawback of
                                automatic delivery is that you can't always get the best heating
                                oil prices because you can't price-shop for each delivery.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="container-innr left">
                <div class="accordion-wrapperr">
                    <div class="accordion-ct">
                        <div class="label-faqs">
                            <img src="https://media-cdn.heatfleet.com/information-vector-icon.webp" class="info-icon"
                                alt="info icon" title="info icon" />
                            <label class="accordion-label-tw">What’s an oil ticket?</label>
                        </div>
                        <div class="accordion-content-tw">
                            <p class="p_content-tw">
                                An oil "ticket" is the receipt that the oil company uses to
                                record the oil quantity dispensed at each delivery. An oil
                                truck’s oil pump has a meter that measures how much oil is being
                                dispensed. It’s the same type of meter that gas pumps have at
                                gas stations. When your oil truck driver finishes pumping your
                                oil, the meter prints the oil quantity directly on the ticket.
                                The driver leaves one copy of the ticket in your mailbox, and
                                keeps one copy for the company’s records.
                            </p>
                            <div class="example-heating-oil-ticket">
                                <p class="example-title">Example heating oil ticket</p>
                                <img src="https://media-cdn.heatfleet.com/vw-Heating-Oil-Ticket.jpg"
                                    class="heating-oil-ticket" alt="heating oil ticket" title="heating oil ticket"
                                />
                                <p class="p_content oilticket">
                                    Many states require that oil companies provide paper oil
                                    tickets. Some states enable homeowners to opt in to electronic
                                    tickets instead of paper tickets.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row tw">
        <div class="col-12 col-md-12 col-lg-12">
            <h3 class="faq__header">Heating Oil Pricing Plans & Payment Plans</h3>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="container-innr left">
                <div class="accordion-wrapperr">
                    <div class="accordion-ct">
                        <div class="label-faqs">
                            <img src="https://media-cdn.heatfleet.com/information-vector-icon.webp" class="info-icon"
                                alt="info icon" title="info icon" />
                            <label class="accordion-label-tw">What is the difference between a Pricing Plan and a
                                Payment
                                Plan?</label>
                        </div>
                        <div class="accordion-content-tw">
                            <p class="p_content-tw">
                                Many full-service heating oil delivery companies offer both
                                pricing plans and payment plans, so it's important to
                                distinguish between the two.
                            </p>
                            <div class="content-list">
                                <ul class="left">
                                    <li class="li-list tw">
                                        Pricing Plans determine the price per gallon of oil that you
                                        pay. Examples of pricing plans include "floating," "fixed,"
                                        and "capped."
                                    </li>
                                    <li class="li-list tw">
                                        Payment Plans determine when you make payments for heating
                                        oil. Examples of payment plans include "prepay," "post-pay,"
                                        and "budget."
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="container-innr left">
                <div class="accordion-wrapperr">
                    <div class="accordion-ct">
                        <div class="label-faqs">
                            <img src="https://media-cdn.heatfleet.com/information-vector-icon.webp" class="info-icon"
                                alt="info icon" title="info icon" />
                            <label class="accordion-label-tw">What are the popular heating oil pricing plans?</label>
                        </div>
                        <div class="accordion-content-tw">
                            <div class="content-list">
                                <ul class="left">
                                    <li class="li-list tw">
                                        Floating (a.k.a. "Market price") plan: The price per gallon
                                        is determined either on the day you place the order (for
                                        on-demand oil orders) or the day of delivery (for automatic
                                        delivery).
                                    </li>
                                    <li class="li-list tw">
                                        Fixed price plan: A price per gallon and number of gallons
                                        are quoted on the day that you sign the 1-year contract, and
                                        that is the price you pay for the length of the contract. If
                                        your oil usage exceeds the quoted number of gallons before
                                        the contract expires, you automatically switch over to a
                                        floating plan for the duration of the contract.
                                    </li>
                                    <li class="li-list tw">
                                        Price protection (a.k.a. "Capped price") plan: A maximum
                                        price per gallon and number of gallons are quoted on the day
                                        you sign the 1-year contract. For the length of the
                                        contract, on the day of each oil delivery, your oil
                                        company's floating price per gallon is compared with your
                                        quoted maximum price per gallon, and you pay whichever price
                                        is lower. Price protection plans have either a one-time fee
                                        paid at the beginning of the contract or a per-gallon fee
                                        that is incorporated into the price per gallon that you pay.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="container-innr left">
                <div class="accordion-wrapperr">
                    <div class="accordion-ct">
                        <div class="label-faqs">
                            <img src="https://media-cdn.heatfleet.com/information-vector-icon.webp" class="info-icon"
                                alt="info icon" title="info icon" />
                            <label class="accordion-label-tw">What are the popular heating oil payment plans?</label>
                        </div>
                        <div class="accordion-content-tw">
                            <div class="content-list">
                                <ul class="left">
                                    <li class="li-list tw">
                                        Prepay: Pay for each oil delivery at the time you place an
                                        order. Common for on-demand orders.
                                    </li>
                                    <li class="li-list tw">
                                        Post-pay: Pay for each oil delivery after you receive the
                                        oil delivery. In this case, either the company sends you a
                                        bill, or if your bank account or credit card are on file
                                        with the company, the company automatically debits the
                                        payment. This is common with automatic delivery.
                                    </li>
                                    <li class="li-list tw">
                                        Budget Payment Plan: Your oil company forecasts your total
                                        heating oil cost for the upcoming year, divides that number
                                        by 12, and sends you 12 equal monthly bills for that amount.
                                        The final month’s bill is adjusted to compensate for the
                                        difference between the forecasted and actual cost. The most
                                        typical budget payment plan is 12 months, but 10 and
                                        11-month plans also exist.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>