<div class="best-price">
    <div class="best-price-main">
        <h3>{{mainTitle}}</h3>
        <div class="best-price-table">
            <div class="table-left">
                <table>
                    <tbody>
                        <tr *ngFor="let item of listOfLocationSet1" class="cursor-pointer">
                            <td *ngIf="!isMainPage"><a [routerLink]="itemLinkMaker(item)">{{item.townName | titlecase}}
                                    {{this.sharedService.pageSlugInCapitalAllFirst}}</a>
                                <p *ngIf="showPrice">from ${{item.price | number:'1.2-2'}} per gallon</p>
                            </td>
                            <td *ngIf="isMainPage">
                                <a [routerLink]="itemLinkMaker(item)">{{item.state_name | titlecase}}
                                    {{this.sharedService.pageSlugInCapitalAllFirst}}</a>
                                <p *ngIf="showPrice">from ${{item.price | number:'1.2-2'}} per gallon</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-right">
                <table>
                    <tbody>
                        <tr *ngFor="let item of listOfLocationSet2" class="cursor-pointer">
                            <td *ngIf="!isMainPage"><a [routerLink]="itemLinkMaker(item)">{{item.townName | titlecase}}
                                    {{this.sharedService.pageSlugInCapitalAllFirst}}</a>
                                <p *ngIf="showPrice">from ${{item.price | number:'1.2-2'}} per gallon</p>
                            </td>
                            <td *ngIf="isMainPage">
                                <a [routerLink]="itemLinkMaker(item)">{{item.state_name | titlecase}}
                                    {{this.sharedService.pageSlugInCapitalAllFirst}}</a>
                                <p *ngIf="showPrice">from ${{item.price | number:'1.2-2'}} per gallon</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a [routerLink]='buttonLink' *ngIf="!isMainPage">
            <button> {{buttonTitle}} </button>
        </a>
    </div>
</div>