<app-header-client></app-header-client>
<app-breadcrumbs></app-breadcrumbs>
<div class="heading-container">
  <div class="title">
    <h4>Homeowner's guide to:</h4>
    <h1>Heating Oil Deliveries</h1>
  </div>
</div>
<div class="content">
  <div class="intro">
    <h2 class="heading">Introduction</h2>
    <p>
      For residences heated with home heating oil, a.k.a "<a routerLink="2-heating-oil-2">#2 heating oil</a>" or “fuel
      oil,” heat is one of a homeowner’s biggest annual expenses.
      Therefore, finding the best price is important: pennies saved per gallon
      add up to thousands of dollars of savings over a home’s lifetime. This
      comprehensive guide will help you navigate the process of ordering
      heating oil deliveries in your area that find the right balance between
      price and convenience that best fit your family’s needs.
    </p>
  </div>
  <div class="dealers">
    <h2 class="heading">Heating Oil Dealers</h2>
    <hr />
    <p>
      Unlike utility monopolies such as your electric company or cable
      company, where you have only a single choice of provider, home heating
      oil is delivered by 2,000+ dealers
      <a href="https://www.census.gov/data/tables/2017/econ/susb/2017-susb-annual.html">(SUSB Annual Data Tables</a>
      , US Census Bureau) competing for you as a client. This competition
      benefits homeowners by driving heating oil prices down, and driving
      quality and customer service up.
    </p>
    <p>Heating oil companies generally fit into one of two categories.</p>
  </div>
  <div class="categories">
    <h2 class="heading">Heating Oil Dealer Categories</h2>
    <hr />
    <ul>
      <li>"Discount" (a.k.a. COD Fuel, Will Call, or Cash Heating Oil)</li>
      <li>"Full Service"</li>
    </ul>
  </div>
  <div class="companies"></div>
  <h2 class="heading">Discount Heating Oil Companies</h2>
  <hr />
  <div class="companies-container">
    <div>
      <p>
        <b>a.k.a. <a routerLink="cod-fuel">“COD fuel”</a> or
          <a routerLink="cash-heating-oil">“Cash Heating Oil“</a></b>
      </p>
      <p>
        In the same way that JetBlue is able to offer high quality flights at
        low prices by eliminating frills like free meals and checked luggage,
        discount oil companies offer the best prices for high quality heating
        oil by eliminating frills and focusing on prompt, efficient delivery.
      </p>
      <p>
        Discount fuel oil dealers are lean oil delivery machines that have
        eliminated costly expenses that full-service oil companies need to
        charge a premium in order to afford, for example: teams of salespeople
        visiting customer homes, newspaper and direct mail ad campaigns,
        expensive software packages, etc.
      </p>
      <p>
        Buying #2 heating oil from a discount oil company is as easy as buying
        gas for your car: when your heating oil gauge says you’re running low,
        you place an oil order. Typically, orders are delivered the following
        business day, but many companies will juggle their schedules to make a
        same-day delivery if you’ve run out of oil or are running dangerously
        low. Luckily, unlike your car which needs gas every week (or more!),
        your home heating oil tank is large and only needs 3-4 fill-ups per
        year.
      </p>
    </div>
    <div>
      <img src="assets/blog/heating-oil-deliveries/IMAGEA-1.png" alt="Heating oil company types" loading="lazy" />
    </div>
  </div>
  <div class="discount">
    <div class="discount-container">
      <div>
        <h2 class="heading">Buying Discount Heating Oil</h2>
        <hr />
        <p>
          Discount oil companies tend not to have web-sites or ads, so the
          easiest way to order discount fuel oil is to use an online heating
          oil marketplace such as the Heat Fleet iOS app, Android app, or the
          HeatFleet.com website to compare prices and place orders. Because
          discount heating oil companies adjust their prices daily (sometimes
          cutting prices midday to fill up the next day’s delivery schedule),
          it’s rare that one company will consistently offer the best price.
          Online heating oil marketplaces compare prices of multiple dealers,
          saving you the hassle of making multiple phone calls to get quotes
          each time you order oil.
        </p>
        <p><b>How often should I check my oil gauge? </b></p>
        <ul>
          <li><b>Summer:</b> Every two months</li>
          <li><b>Spring/Fall:</b> Once a month</li>
          <li>
            <b>Winter:</b> Every week and before storms and after severe cold
            fronts
          </li>
        </ul>
      </div>
      <div>
        <img src="assets/blog/heating-oil-deliveries/IMAGEA-2.png" alt="Buying Discount Heating Oil" loading="lazy" />
      </div>
    </div>
  </div>
  <div class="maintenance">
    <h2 class="heading">Boiler Service & Maintenance</h2>
    <p>
      Because discount oil companies don’t maintain in-house service
      technicians, it’s good to establish a relationship with a professional,
      dependable boiler service company to call if you run into any
      unscheduled maintenance issues. Hiring a heating & cooling service
      company to conduct an annual boiler tune-up will keep your boiler
      running at peak efficiency, reduce the probability your boiler will
      require unscheduled service during a severe cold front, and ensure that
      the company is already familiar with your system in the event you need
      emergency service.
    </p>
  </div>
  <div class="full-service-heating">
    <h2 class="heading">Full Service Heating Oil Companies</h2>
    <hr />
    <p>
      If savings is not your priority and you prefer a “set-it-and-forget-it”
      heating system, a “full service” heating oil company is for you.
      Full-service oil dealers charge premium prices, and in turn, provide
      homeowners with a diverse array of convenience-focused delivery plans,
      <a routerLink="heating-oil-pricing-payment-plans">pricing plans</a>, and
      <a routerLink="heating-oil-pricing-payment-plans">payment plans</a>.
    </p>
  </div>
  <div class="full-service-pricing">
    <h2 class="heading">Full-service Pricing & Payment Plans</h2>
    <ul>
      <li>
        <b>Automatic delivery:</b> if you sign a 1-year delivery contract, the
        oil company tracks your oil consumption and automatically makes
        heating oil deliveries when their software estimates you are running
        low.
      </li>
      <li>
        <b>Bundled service & maintenance:</b> full-service companies bundle
        oil delivery contracts with 1-year boiler service contracts.
        (Purchasing oil with a dicsount oil company requires using a separate
        company for boiler service).
      </li>
      <li>
        <b>Pricing Plans:</b> full service companies offer “fixed price” and
        “price cap” pricing plans, which cost more per-gallon, but limit your
        risk in the event that oil prices steeply spike up.
      </li>
      <li>
        <b>Payment Plans:</b> Because all of a home’s #2 heating oil
        deliveries are clustered in the winter, a home’s annual oil expenses
        are concentrated in a very short period of time, which can disrupt a
        household’s finances. Full-service oil companies offer payment plans
        where oil consumption is estimated, and billing is evenly portioned
        out over each of the 12 months of the year.
      </li>
    </ul>
  </div>
  <div class="right-service">
    <h2 class="heading">Finding the right full-service oil company</h2>
    <p>
      A full-service oil companies generally has a significant web presence,
      with customer reviews on sites such as Google and Yelp. Because buying
      from a full-service company involves signing up for a long-term
      contract, and because you will be relying on that company in the event
      of an emergency heating outage, it is very important to review customer
      ratings and reviews to make sure that you’re selecting a professional,
      dependable company rather than focusing exclusively on price. An oil
      contract is like a one year marriage: if you jump into it, you might
      find yourself in the cold, out of oil or with a broken boiler, and have
      neither legal recourse nor a way of getting a refound.
    </p>
  </div>
  <div class="first-order">
    <h2 class="heading">Placing Your First Order With A New Company</h2>
    <hr />
    <p>
      Before your first delivery, you can help your heating oil company by
      informing them of your tank location, tank size, and the fill-pipe
      location.
    </p>
    <div class="tank-container">
      <div>
        <h2 class="heading">Oil Tank Location</h2>
        <p>
          Most homes’ oil tanks are installed in the basement, some homes’ oil
          tanks are outside, and a few homes have tanks buried underground. If
          you’re unsure, look in the basement, and then outside along the
          perimeter of the house. If you still haven’t found your tank, search
          the yard for a buried tank’s fill pipe (see “Fill Location” section,
          below).
        </p>
      </div>
      <div>
        <h2 class="heading">Oil Tank Size</h2>
        <p>
          New oil tanks have a nameplate on the side of the tank that displays
          tank capacity. Older tanks are often missing the nameplate. Most
          homes have a single 275-gallon oil tank, but a variety of tank sizes
          and combinations exist, and different size tanks resemble each
          other, but have slightly different dimensions. If the size is not
          written on the tank itself, use this Tank Size Guide to figure out
          what you have.
        </p>
      </div>
    </div>
  </div>
  <div class="pipe-location">
    <h2 class="heading">Oil Fill-Pipe Location</h2>
    <p>
      While not necessary, you can help make your first oil delivery quick and
      efficient by relaying to the oil company: (i) which side of the house
      your fill-pipe is located on, and (ii) any distinctive landmarks the
      pipe is adjacent to (e.g. “under the bay window”).
    </p>
    <p><b>Basement tank</b></p>
    <p>
      Fill pipe projects out of the house and is mounted to an exterior wall.
    </p>
    <p><b>Outdoor above-ground tank</b></p>
    <p>Fill-pipe is located on top of the tank.</p>
    <p><b>Underground/buried tank</b></p>
    <p>
      Fill pipe is in the yard, either flush with the lawn or protruding a few
      inches up.
    </p>
  </div>
  <div class="oil-delivery">
    <h2 class="heading">Oil Delivery</h2>
    <hr />
    <p>
      Because your fuel oil fill pipe is located outside, you generally do not
      need to be home for the oil delivery. A few exceptions where you do need
      to meet the oil delivery driver are: (a) if you choose to pay by
      cash/check, (b) if your boiler has run out of oil and needs to be
      manually primed and restarted.
    </p>
    <p>
      Heating oil is delivered to your home by a small tanker truck that’s
      equipped with a metered oil pump (similar to the meter at a gas station
      pump that counts the gallons). Oil truck meters are verified annually by
      government inspector.
    </p>
    <p>
      Planning for snow: When you expect an oil delivery on a snowy day,
      ensure your driveway is plowed and a path is shoveled to your oil fill
      pipe.
    </p>
    <p>
      When the tanker truck arrives, the driver pulls the fuel hose to your
      fill-pipe, screws the hose-valve to the fill-pipe to establish an
      air-tight seal, and engages the truck’s fuel-pump, which dispenses 1-2
      gallons of oil per second.
    </p>
    <p></p>
  </div>
</div>
<app-section-footer></app-section-footer>