<div class="Heating-Oil-container">
  <div class="white-space">
    <div class="Heating-Oil-content">
      <div class="container-row contents">
        <div class="contain-c lft">
          <div class="advisor-details first">
            <div class="adadvisorviosr-bio1">
              <span class="txt-bio">The #1 Heating Oil<br />Marketplace</span>
            </div>
          </div>
          <div class="advisor-details">
            <span class="number-span">2,205</span>
            <span class="oil-company">Heating Oil<br />Companies</span>
          </div>
        </div>

        <div class="contain-c rght">
          <div class="advisor-details">
            <span class="number-span">13</span>
            <span class="us-state">U.S.<br />States</span>
          </div>
          <div class="advisor-details">
            <span class="number-span">6,620</span>
            <span class="cities-town">Cities &amp;<br />Towns</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
