
  <app-header-client></app-header-client>
  <app-breadcrumbs></app-breadcrumbs>

  <!-- heading -->
  <div class="heading-container">
    <div class="title">
      <h4>Homeowner's guide to:</h4>
      <h1>Heating Oil Deliveries</h1>
    </div>
  </div>

  <!-- content -->
  <div class="content">
    <h2>Cash Heating Oil Delivery</h2>
    <h4><b>Old Name. Big Savings.</b></h4>

    <div class="heating-oil">
      <div class="dealers-img">
        <img
          src="../../../../../assets/blog/heating-oil-deliveries/cod_fuel_dealers.jpeg"
          alt="fuel-dealers"
          loading="lazy"
        />
      </div>
      <div>
        <p>
          In the 1960s, when
          <a href="https://en.wikipedia.org/wiki/Heating_oil" target="_blank"
            >heating oil</a
          >
          replaced coal as the northeast’s primary heating fuel, homeowners
          bought heating oil “on credit,” meaning that the homeowner was mailed
          a bill after delivery of the oil, and had a month to pay the bill, by
          check. (This has nothing to do with credit cards – credit cards hadn’t
          been invented yet.)
        </p>
        <p>
          Because some customers did not pay for oil they received, oil
          companies needed to raise prices to cover these losses. A group of
          savvy oil company owners realized an opportunity: an oil company could
          eliminate the cost of defaulting customers by
          <em>collecting on delivery</em> the payment, rather than after
          delivery. The “Collect On Delivery” (COD) breed of discount oil
          company was born. Because many customers preferred paying with cash,
          the name “Cash Heating Oil” company also became popular. Whether you
          call it “Discount Heating Oil” or “COD fuel” or “Cash Heating Oil,”
          it’s all the same: the best price heating oil delivered to your home
          when you need it.
        </p>
      </div>
    </div>
    <h2>Do cash heating oil dealers take credit cards?</h2>
    <hr />
    <div class="answer">
      <p>
        YES. Today, virually all cash heating oil companies take credit cards.
      </p>
    </div>
    <h2>The Cash Discount: Even more savings</h2>
    <hr />
    <div class="answer">
      <p>
        While you always have the option of paying with a credit or debit card,
        some companies offer <em>even better </em>prices for payment by cash or
        check because this saves the company a 2%+ credit card processing fee.
        When you opt to pay with cash/check, the oil company will contact you to
        coordinate either meeting the driver to remit payment, or hiding the
        payment (e.g. under your doormat) for your driver to pick up at the time
        of delivery.
      </p>
    </div>
  </div>

  <app-section-footer></app-section-footer>
