<div *ngIf="locationType == 'state-profile'">
    <app-state-profile></app-state-profile>
</div>

<div *ngIf="locationType == 'town-profile'">
    <app-town-profile></app-town-profile>
</div>

<div *ngIf="locationType == 'town-selection'">
    <app-town-selection></app-town-selection>
</div>

<div *ngIf="locationType == 'company-profile'">
    <app-company-profile></app-company-profile>
</div>

<div *ngIf="locationType == 'counties-selection'">
    <app-counties-selection></app-counties-selection>
</div>

<div *ngIf="locationType == 'state-selection'">
    <app-state-selection></app-state-selection>
</div>