<app-header-client></app-header-client>
<app-breadcrumbs></app-breadcrumbs>

<!-- heading -->
<div class="heading-container">
  <div class="title">
    <h4>Homeowner's guide to:</h4>
    <h1>Heating Oil Deliveries</h1>
  </div>
</div>

<!-- content -->
<div class="content">
  <h3>#2 Heating Oil</h3>
  <h2>a.k.a. "Heating Oil" and "Fuel Oil"</h2>
  <div>
    Almost identical to the diesel fuel that’s sold at gas stations, “heating
    oil,” a.k.a “#2 heating oil” and “fuel oil,” is the primary heating fuel for
    “about 5.5 million households in the United States” (<a
      href="https://www.eia.gov/energyexplained/heating-oil/use-of-heating-oil.php"
      >US Energy Information Administration</a
    >, Feb 9, 2021). Unlike electricity or natural gas, which are sold by
    monopoly utility companies and rely on a single grid or pipe network,
    heating oil is delivered by thousands of private companies via small tanker
    truck, all competing for your business, ranging from low-price no-frills “<a
      routerLink="/blog/heating-oil-deliveries/cod-fuel"
      >COD fuel</a
    >” dealers to premium full-service heating oil companies that are more
    expensive, but offer a variety of
    <a
      routerLink="/blog/heating-oil-deliveries/heating-oil-pricing-payment-plans"
      >payment plans</a
    >
    and other conveniences.
  </div>

  <!-- advantages -->
  <h2>Advantages of Heating Oil Central Heat</h2>
  <hr />
  <div>
    <ul>
      <li>
        <strong>Heating capacity:</strong> A small quality of oil produces a
        tremendous amount of heat. On a 32°F winter day, an average home’s oil
        furnace uses only 5 gallons (a single office water-cooler jug) of oil to
        heat the entire home to a comfortable temperature (<a
          href="https://www.youngshomecomfort.com/blog/2020/11/what-is-the-average-cost-to-heat-a-home-with-oil-in-pennsylvania/"
          >Young’s Home Comfort</a
        >, Nov 13, 2020).
      </li>
      <li>
        <strong>Safety:</strong> Heating oil
        <strong><em>is not flammable at room temperature</em></strong> (<a
          href="https://ehs.princeton.edu/laboratory-research/chemical-safety/flammable-materials/flammable-and-combustible-liquid-hazard"
          >Princeton University</a
        >, Environmental Health &amp; Safety Department), isn’t stored under
        pressure, and its fumes aren’t undetectably toxic (<a
          href="https://portal.ct.gov/-/media/Departments-and-Agencies/DPH/dph/environmental_health/eoha/pdf/Heatingoilspillsfactsheetpdf.pdf?la=en"
          >Connecticut Department of Public Health</a
        >, Environmental Assessment Program). For the safety-conscious
        homeowner, this is a big advantage.
      </li>
      <li>
        <strong>Reliability:</strong> With more than 2,000 providers across the
        northeast each fielding a fleet of trucks, if your heating oil company
        isn’t able to make a delivery, there are multiple home heating oil
        companies near you to choose from.
      </li>
      <li>
        <strong>On-site storage:</strong> One tank of heating oil provides heat
        for many days, and even weeks, giving you the peace of mind that if a
        storm disrupts the roads and utilities, you have enough energy on hand,
        <em>at your house</em>, to heat your home through the period of the
        disruption.
      </li>
      <li>
        <strong>Service:</strong> For something as important to your family as
        home heating, it’s good to know that most heating oil companies are
        family owned and operated, and provide a level of customer service that
        the faceless utility monopolies simply don’t offer.
      </li>
    </ul>
  </div>

  <!-- additive -->
  <h2>Heating Oil Detergent Additive</h2>
  <hr />
  <div>
    <p>
      We’ve all seen ads that promote detergent gasolines that “clean your
      engine while you drive,” and a AAA study actually proved these claims,
      finding that detergent gasolines actually reduce engine deposit buildup
      94.5% (<a
        href="https://www.aaa.com/AAA/common/AAR/files/Fuel-Quality-Full-Report.pdf"
        >American Automobile Association</a
      >, 2016)
    </p>
    <p>
      Because heating oil contains even more floating deposits than gasoline,
      using a heating oil with detergent additive is even more important for
      your boiler than a detergent gasoline is for your car.
    </p>
    <p>
      Your heating system’s efficiency rating, which for oil boilers is
      typically around 85%, is based on a clean system without deposit<br />build-up.
      Heating oil that lacks detergent additive allows deposits (dirt) to build
      up throughout the whole system, reducing your boiler’s efficiency and
      increases your annual heating costs.
    </p>
  </div>
  <div class="benefits">
    <div>
      <div>
        <h4><b>Heating Oil Detergent Additive Benefits</b></h4>
        <ul>
          <li>
            <strong>Reduce heating costs:</strong>
            The detergent prevents deposits from building up on the boiler
            nozzle, which optimizes fuel atomization and overall boiler
            efficiency. Deposit build-up degrades efficiency: every 1% loss in
            efficiency translates directly into a 1% rise in home heating costs.
          </li>
          <li>
            <strong>Boost boiler reliability:</strong> Untreated heating oil
            “gels” (becomes viscus) during severe cold fronts, which can cause
            your boiler to stall at the time you need it the most. Detergent
            additive prevents gelling, ensuring your boiler runs smoothly even
            in the most extreme cold-weather conditions.
          </li>
          <li>
            <strong>Reduce maintenance costs:</strong> Boilers have very few
            moving parts, but when those parts fail, it’s often because they get
            gummed up with dirt deposits. Detergent additives dissolve these
            deposits to keep your boiler running smoothly and reduce or
            eliminate expensive service calls.
          </li>
          <li>
            <strong>Prevent oil tank leaks:</strong> Your oil tank has a vent to
            the outside air. When humidity from the air enters the cool tank,
            the humidity condenses into water droplets which sink to the bottom
            of the tank and corrode the tank, eventually leading to leaks and,
            in extreme cases, tank failure. Detergent additives disperse the
            water-droplets into the oil, flushing the water out of your heating
            system when the oil is atomized in your boiler, preventing tank
            corrosion.
          </li>
          <li>
            <strong>Inhibit Chimney Soot:</strong> “Soot” is made of oil
            particles that do not fully burn. Detergent additives contain
            combustion catalysts that optimize combustion, eliminating soot.
          </li>
          <li>
            <strong>Dissolve tank sludge:</strong> In the warm summer months,
            heating oil is a breeding ground for microbes, which coalesce at the
            bottom of your oil tank to form sludge. Detergent additives not only
            prohibit microbial growth, but also break down existing sludge,
            which is flushed out through your heating system.
          </li>
        </ul>
      </div>
    </div>
    <div class="image-center">
      <img
        src="../../../../../assets/blog/heating-oil-deliveries/2-heating-oil.png"
        loading="lazy"
      />
    </div>
  </div>

  <!-- blends -->
  <h2>Biodiesel Blends</h2>
  <hr />
  <p>
    Modern oil boilers can achieve peak efficiency with Bioheat mixtures – even
    B100 (pure biodiesel) – but because burn properties of biodiesel differ from
    #2 heating oil, your boiler must be tuned specifically for the blend that
    you choose.
  </p>
  <div class="example">
    <div class="biodiesal">
      <p>
        “Biodiesel” is a liquid fuel similar in composition to diesel, but
        refined from vegetable oil rather than crude oil. From an environmental
        standpoint, the fact that biodiesel comes from a renewable energy source
        makes is preferable to standard heating oil.
      </p>
      <p>
        Some home heating oil delivery companies offer “Bioheat,” a marketing
        name for a mixture of standard #2 heating oil and biodiesel. The name of
        the bioheat being delivered typically contains a number that indicates
        proportion of biodiesel in the fuel blend, for example, “B20 has 20%
        biodiesel and 80% petroleum diesel” (“<a
          href="https://extension.psu.edu/whats-so-different-about-biodiesel-fuel"
          >What About Blends?</a
        >“), Pennsylvania State University).
      </p>
    </div>
    <div class="blends">
      <h4><b>Example Blends:</b></h4>
      <ul>
        <li>
          <strong data-rich-text-format-boundary="true">B3:</strong> 3%
          biodiesel, 97% #2 home heating oil
        </li>
        <li>
          <strong data-rich-text-format-boundary="true">B10:</strong> 10%
          biodiesel, 90% #2 home heating oil
        </li>
        <li>
          <strong data-rich-text-format-boundary="true">B20:</strong> 20%
          biodiesel, 80% #2 home heating oil
        </li>
        <li>
          <strong data-rich-text-format-boundary="true">B100:</strong> 100%
          biodiesel
        </li>
      </ul>
    </div>
  </div>
</div>
<app-section-footer></app-section-footer>
