<app-header-client></app-header-client>
<app-section-img></app-section-img>
<app-section-one></app-section-one>
<app-section-second></app-section-second>
<app-section-third></app-section-third>

<div class="payment-proccess-container">
  <div class="row">
    <div class="col">
      <div class="payment-process-content">
        <h3 class="homeowner-text">
          We take payment processing security seriously.
        </h3>
      </div>
    </div>
  </div>
  <div class="payment-proccess-img">
    <div class="row">
      <div class="col">
        <div class="img-aligner">
          <!-- vx-NMI-Logo -->
          <img
            class="nmi-logo"
            src="assets/icons/vx-NMI-Logo.webp"
            title="NMI Logo"
            alt="Logo for NMI secure credit card processor"
            loading="lazy"
          />
          <!-- src="https://media-cdn.heatfleet.com/vx-NMI-Logo.svg" -->
        </div>
      </div>
      <div class="col">
        <div>
          <ul class="payment-pro-ul">
            <li class="payment-pro-li">Certified Level I PCI Compliant</li>
            <li class="payment-pro-li">
              Processes $195 billion in sales annually
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footersection">
  <app-section-footer></app-section-footer>
</div>
