<div class="outer-container howitworks-content">
  <div class="left">
    <div class="container_innr left howitworks">
      <div class="row">
        <div class="col-12">
          <h3 class="howitworks-title" alt="How Heat Fleet works">
            How Heat Fleet Saves You Money
          </h3>
          <h3 class="txt-subtitle">
            Two minutes could save you $100
            <span class="til">per delivery.</span>
          </h3>
        </div>
      </div>
      <div class="row rw-100">
        <div class="col-12 col-md-6 col-lg-6 leftalign">
          <div class="row row-cus">
            <div class="col col-cus-item">
              <h4 class="col-item">
                Welcome to
                <span class="_link"> the world's biggest </span>
                home
                <span class="hf" *ngIf="config.typeParam == 'type=1'"
                  >heating oil</span
                >
                <span class="hf" *ngIf="config.typeParam == 'type=2'"
                  >heating repair</span
                >
                marketplace.
              </h4>
            </div>
          </div>
          <div class="row row-cus">
            <div class="col col-cus-item">
              <p class="col-item">
                With instant access to real-time prices for more than 450
                trusted local oil companies, shop with confidence, knowing you
                get the absolute<span class="_link">
                  best price, for every order.</span
                >
              </p>
            </div>
          </div>
          <p class="txt-subtitle scnd">Save in Seconds.</p>
          <div class="row row-cus">
            <div class="col col-cus-item">
              <p class="col-item">
                <span class="_link">1. Enter Your Order Details</span>
              </p>
              <p class="col-item mr">Zip, gallons, and delivery window.</p>
            </div>
          </div>
          <div class="row row-cus">
            <div class="col col-cus-item">
              <p class="col-item">
                <span class="_link">2. Price-shop The Best Deal</span>
              </p>
              <p class="col-item mr">
                Our big board of local oil company prices.
              </p>
            </div>
          </div>
          <div class="row row-cus">
            <div class="col col-cus-item">
              <p class="col-item">
                <span class="_link">3. Place Your Order</span>
              </p>
              <p class="col-item mr">
                Our PCI-compliant check-out is fast and simple.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-center">
          <img
            class="sc-oil-company"
            srcset="
              https://media-cdn.heatfleet.com/65-HeatFleet-Search-Heating-Oil-Prices.webp?tr=w-225 225w,
              https://media-cdn.heatfleet.com/65-HeatFleet-Search-Heating-Oil-Prices.webp?tr=w-300 300w,
              https://media-cdn.heatfleet.com/65-HeatFleet-Search-Heating-Oil-Prices.webp?tr=w-480 480w,
              https://media-cdn.heatfleet.com/65-HeatFleet-Search-Heating-Oil-Prices.webp?tr=w-700 700w,
              https://media-cdn.heatfleet.com/65-HeatFleet-Search-Heating-Oil-Prices.webp?tr=w-900 900w,
            "
            title="How To Find Best Price Oil"
            alt="Screenshot of Heat Fleet select best price heating oil company page"
            fetchpriority="high"
          />
        </div>
      </div>
    </div>
  </div>
</div>
