<app-header-client></app-header-client>
<div class="headContainer">
    <div class="headInnerContainer">
        <div class="titleContainer">
            <h1>The best home heating oil prices from oil companies near you</h1>
        </div>
        <div class="contentContainer">
            <div class="selector">
                <a href="">Mobile Apps</a>
                <a href="">Buying Guide</a>
            </div>
            <div class="coverImgContainer"><img class="coverImg" src="assets/blog/home/zipentry_radiator.png"
                    alt="downArrow" /></div>
            <div class="downArrowContainer" (click)="scroll()"><img class="downArrow"
                    src="assets/blog/home/downArrow.png" alt="downArrow" /></div>
        </div>
    </div>
</div>
<div class="middleContainer">
    <div #el class="middleInnerContainer">
        <img src="assets/blog/home/heatfleetlogo.png" alt="" srcset="" />
        <div class="contentContainer">
            <div>
                <h3>Heating Oil Mobile Apps</h3>
            </div>
            <div>
                <h3>September 2021</h3>
            </div>
            <div>
                <h3>iOS, Android, and web apps</h3>
            </div>
        </div>
        <div class="imgContainer">
            <div><img src="assets/blog/home/AndroidScreenshot1.png" alt="" srcset="" /></div>
            <div><img src="assets/blog/home/AndroidScreenshot2.png" alt="" srcset="" /></div>
            <div><img src="assets/blog/home/AndroidScreenshot3.png" alt="" srcset="" /></div>
        </div>
    </div>
</div>
<app-section-footer></app-section-footer>