<app-header-client></app-header-client>
<app-section-main [qtyLoaded]="qtyLoaded"   [type]="true" [breadcrumbs]="breadcrumbs" [ctaText]="ctaText" [infoCheckBox]="infoCheckBox" [bsAltLine]="bsAltLine" [loaded]="loading"></app-section-main>
<app-section-compareprices class="compare" [comparePricesText]="comparePricesText"></app-section-compareprices>
<app-section-bestprices [data_]="pricesData" [lastUpdate]="lastUpdate" [LandingPage]="LandingPage"></app-section-bestprices>
<app-section-why></app-section-why>
<app-oil-company-guide *ngIf="oilCompaniesData" [isState]="true" [oilCompaniesData]="oilCompaniesData" [isLandingPage]="true"></app-oil-company-guide>
<app-section-why2></app-section-why2>
<app-section-faqs [faqsContentTown]="faqsContentTown" *ngIf="(faqsContentTown && faqsContentTown.length > 0)"></app-section-faqs>
<app-heating-oil-locations [topTowns]="topTowns" [topCounties]="topCounties"></app-heating-oil-locations>
<app-section-footer></app-section-footer>